---

import Page from "../../components/Page.astro";
import Button from "../../components/ui/Button.astro";
import H2 from "../../components/ui/h2.astro";
import Paragraph from "../../components/ui/Paragraph.astro";
import PostsOddEven from "../../components/sections/PostsOddEven.astro";
import Added from "../../components/ui/added.astro";
import Add from "../../components/ui/add.astro";
import Buttonunderline from "../../components/ui/Buttonunderline.astro";
import Similarproduct from "../../components/ui/similarproduct.astro";
import Cartitemdesktop from "../../components/ui/cartitemdesktop.astro";
import Cartitemdashboard from "../../components/ui/cartitemdashboard.astro";
import Panelmenu from "../../components/ui/panelmenu.astro";


let quantity = 1;

function handleQuantityChange(event) {
    quantity = parseInt(event.target.value, 10);
}
---


<Page>
<Panelmenu />
    <section  id="productcart-details" class=" mx-auto p-6 lg:pt-12 lg:pb-12 w-full ">
        <div class="mx-auto max-w-[1400px]  w-full ">
            <div class="w-full lg:w-5/6 pt-12">
                <H2 type="big">Witaj w panelu klienta </H2>
                <div class="flex items-center mt-12">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="16" cy="11" r="5" stroke="black" stroke-width="2"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.9042 27C23.9046 26.9679 23.9048 26.9358 23.9048 26.9036C23.9048 22.5385 20.3662 19 16.0012 19C11.6362 19 8.09766 22.5385 8.09766 26.9036C8.09766 26.9358 8.09785 26.9679 8.09823 27H6.09812C6.09781 26.9679 6.09766 26.9357 6.09766 26.9036C6.09766 21.434 10.5316 17 16.0012 17C21.4708 17 25.9048 21.434 25.9048 26.9036C25.9048 26.9357 25.9046 26.9679 25.9043 27H23.9042Z" fill="black"/>
                    </svg>

                    <p class="font-bold ml-3 text-xl"> Twoje dane</p>
                </div>

            </div>
            <div class="w-full lg:w-5/6 mt-12 flex">
                <div class="account_details w-full">
                    <div class="detail_single py-6 border-b-2 relative w-full">
                        <h3 class="font-bold">Imię i nazwisko</h3>
                        <p class="mt-3"> Jan Kowalski</p>
                        <a href="/sklep-panel-dane-edycja">
                            <div class="flex font-bold absolute right-0 top-1/2 -translate-y-1/2 py-6">
                                <svg class="mr-3" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.2033 2.33884L23.2033 2.33877L22.6611 1.79671L22.5215 1.93636L22.6611 1.79671C21.996 1.13179 21.1208 0.8 20.2462 0.8C19.3715 0.8 18.4957 1.13243 17.8313 1.79671L3.20463 16.4208C3.18841 16.4364 3.17307 16.4531 3.15873 16.4708L3.12432 16.4596L3.0675 16.633C3.06555 16.6385 3.06369 16.644 3.0619 16.6495L3.04886 16.6899L0.837159 23.44C0.793054 23.5552 0.785985 23.687 0.827988 23.8143C0.924259 24.1086 1.24089 24.2677 1.53404 24.1709C1.53419 24.1709 1.53433 24.1709 1.53447 24.1708L8.32178 21.9421C8.41241 21.9173 8.49846 21.8693 8.56956 21.7982L8.42816 21.6568L8.56957 21.7982L23.2032 7.16713C23.8683 6.50278 24.2002 5.62769 24.2002 4.75322C24.2002 3.87865 23.8677 3.00368 23.2033 2.33884ZM21.8698 2.58734L22.412 3.12939C22.8574 3.57468 23.0808 4.16296 23.0808 4.7526C23.0808 5.34224 22.8574 5.93052 22.412 6.37581L7.87125 20.9134L2.23396 22.765L4.0819 17.1248L18.6226 2.58734C19.0679 2.14204 19.6564 1.91858 20.2462 1.91858C20.836 1.91858 21.4244 2.14204 21.8698 2.58734L22.0112 2.4459L21.8698 2.58734Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M4.20353 16.2119C3.98523 15.9936 3.63065 15.9932 3.41255 16.2122C3.19572 16.4299 3.19368 16.7842 3.41301 17.0026C3.41307 17.0027 3.41312 17.0028 3.41318 17.0028L7.99295 21.5816C8.21126 21.7998 8.56584 21.8003 8.78394 21.5813C9.00075 21.3635 9.00281 21.0094 8.78354 20.7909C8.78346 20.7908 8.78338 20.7907 8.78331 20.7907L4.20353 16.2119Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M17.4974 2.92281C17.2789 2.70438 16.9245 2.70438 16.7061 2.92281C16.4878 3.14103 16.4873 3.49548 16.7062 3.71358C16.7063 3.71363 16.7063 3.71369 16.7064 3.71375L21.2862 8.29253C21.5046 8.51096 21.859 8.51096 22.0775 8.29253C22.2957 8.07432 22.2962 7.71991 22.0774 7.50182C22.0773 7.50174 22.0772 7.50167 22.0771 7.50159L17.4974 2.92281Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M7.96388 16.3004L7.96388 16.3004L8.61314 16.9502L8.75455 17.0917L8.75459 17.0916C8.75468 17.0915 8.75477 17.0914 8.75486 17.0913L18.0938 7.75445C18.3121 7.5362 18.3126 7.1817 18.0936 6.96361C17.8753 6.74564 17.5211 6.74518 17.303 6.96392C17.303 6.96399 17.3029 6.96407 17.3028 6.96414L7.96388 16.3004Z" fill="black" stroke="black" stroke-width="0.4"/>
                                </svg>
                                Zmień
                            </div>
                        </a>
                    </div>
                    <div class="detail_single py-6 border-b-2 relative w-full">
                        <h3 class="font-bold">E-mail</h3>
                        <p class="mt-3"> kowalski@gmail.com</p>
                        <a href="/sklep-panel-dane-edycja">
                            <div class="flex font-bold absolute right-0 top-1/2 -translate-y-1/2 py-6">
                                <svg class="mr-3" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.2033 2.33884L23.2033 2.33877L22.6611 1.79671L22.5215 1.93636L22.6611 1.79671C21.996 1.13179 21.1208 0.8 20.2462 0.8C19.3715 0.8 18.4957 1.13243 17.8313 1.79671L3.20463 16.4208C3.18841 16.4364 3.17307 16.4531 3.15873 16.4708L3.12432 16.4596L3.0675 16.633C3.06555 16.6385 3.06369 16.644 3.0619 16.6495L3.04886 16.6899L0.837159 23.44C0.793054 23.5552 0.785985 23.687 0.827988 23.8143C0.924259 24.1086 1.24089 24.2677 1.53404 24.1709C1.53419 24.1709 1.53433 24.1709 1.53447 24.1708L8.32178 21.9421C8.41241 21.9173 8.49846 21.8693 8.56956 21.7982L8.42816 21.6568L8.56957 21.7982L23.2032 7.16713C23.8683 6.50278 24.2002 5.62769 24.2002 4.75322C24.2002 3.87865 23.8677 3.00368 23.2033 2.33884ZM21.8698 2.58734L22.412 3.12939C22.8574 3.57468 23.0808 4.16296 23.0808 4.7526C23.0808 5.34224 22.8574 5.93052 22.412 6.37581L7.87125 20.9134L2.23396 22.765L4.0819 17.1248L18.6226 2.58734C19.0679 2.14204 19.6564 1.91858 20.2462 1.91858C20.836 1.91858 21.4244 2.14204 21.8698 2.58734L22.0112 2.4459L21.8698 2.58734Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M4.20353 16.2119C3.98523 15.9936 3.63065 15.9932 3.41255 16.2122C3.19572 16.4299 3.19368 16.7842 3.41301 17.0026C3.41307 17.0027 3.41312 17.0028 3.41318 17.0028L7.99295 21.5816C8.21126 21.7998 8.56584 21.8003 8.78394 21.5813C9.00075 21.3635 9.00281 21.0094 8.78354 20.7909C8.78346 20.7908 8.78338 20.7907 8.78331 20.7907L4.20353 16.2119Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M17.4974 2.92281C17.2789 2.70438 16.9245 2.70438 16.7061 2.92281C16.4878 3.14103 16.4873 3.49548 16.7062 3.71358C16.7063 3.71363 16.7063 3.71369 16.7064 3.71375L21.2862 8.29253C21.5046 8.51096 21.859 8.51096 22.0775 8.29253C22.2957 8.07432 22.2962 7.71991 22.0774 7.50182C22.0773 7.50174 22.0772 7.50167 22.0771 7.50159L17.4974 2.92281Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M7.96388 16.3004L7.96388 16.3004L8.61314 16.9502L8.75455 17.0917L8.75459 17.0916C8.75468 17.0915 8.75477 17.0914 8.75486 17.0913L18.0938 7.75445C18.3121 7.5362 18.3126 7.1817 18.0936 6.96361C17.8753 6.74564 17.5211 6.74518 17.303 6.96392C17.303 6.96399 17.3029 6.96407 17.3028 6.96414L7.96388 16.3004Z" fill="black" stroke="black" stroke-width="0.4"/>
                                </svg>
                                Zmień
                            </div>
                        </a>
                    </div>
                    <div class="detail_single py-6 border-b-2 relative w-full">
                        <h3 class="font-bold">Telefon</h3>
                        <p class="mt-3"> 123 456 789</p>
                        <a href="/sklep-panel-dane-edycja">
                            <div class="flex font-bold absolute right-0 top-1/2 -translate-y-1/2 py-6">
                                <svg class="mr-3" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.2033 2.33884L23.2033 2.33877L22.6611 1.79671L22.5215 1.93636L22.6611 1.79671C21.996 1.13179 21.1208 0.8 20.2462 0.8C19.3715 0.8 18.4957 1.13243 17.8313 1.79671L3.20463 16.4208C3.18841 16.4364 3.17307 16.4531 3.15873 16.4708L3.12432 16.4596L3.0675 16.633C3.06555 16.6385 3.06369 16.644 3.0619 16.6495L3.04886 16.6899L0.837159 23.44C0.793054 23.5552 0.785985 23.687 0.827988 23.8143C0.924259 24.1086 1.24089 24.2677 1.53404 24.1709C1.53419 24.1709 1.53433 24.1709 1.53447 24.1708L8.32178 21.9421C8.41241 21.9173 8.49846 21.8693 8.56956 21.7982L8.42816 21.6568L8.56957 21.7982L23.2032 7.16713C23.8683 6.50278 24.2002 5.62769 24.2002 4.75322C24.2002 3.87865 23.8677 3.00368 23.2033 2.33884ZM21.8698 2.58734L22.412 3.12939C22.8574 3.57468 23.0808 4.16296 23.0808 4.7526C23.0808 5.34224 22.8574 5.93052 22.412 6.37581L7.87125 20.9134L2.23396 22.765L4.0819 17.1248L18.6226 2.58734C19.0679 2.14204 19.6564 1.91858 20.2462 1.91858C20.836 1.91858 21.4244 2.14204 21.8698 2.58734L22.0112 2.4459L21.8698 2.58734Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M4.20353 16.2119C3.98523 15.9936 3.63065 15.9932 3.41255 16.2122C3.19572 16.4299 3.19368 16.7842 3.41301 17.0026C3.41307 17.0027 3.41312 17.0028 3.41318 17.0028L7.99295 21.5816C8.21126 21.7998 8.56584 21.8003 8.78394 21.5813C9.00075 21.3635 9.00281 21.0094 8.78354 20.7909C8.78346 20.7908 8.78338 20.7907 8.78331 20.7907L4.20353 16.2119Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M17.4974 2.92281C17.2789 2.70438 16.9245 2.70438 16.7061 2.92281C16.4878 3.14103 16.4873 3.49548 16.7062 3.71358C16.7063 3.71363 16.7063 3.71369 16.7064 3.71375L21.2862 8.29253C21.5046 8.51096 21.859 8.51096 22.0775 8.29253C22.2957 8.07432 22.2962 7.71991 22.0774 7.50182C22.0773 7.50174 22.0772 7.50167 22.0771 7.50159L17.4974 2.92281Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M7.96388 16.3004L7.96388 16.3004L8.61314 16.9502L8.75455 17.0917L8.75459 17.0916C8.75468 17.0915 8.75477 17.0914 8.75486 17.0913L18.0938 7.75445C18.3121 7.5362 18.3126 7.1817 18.0936 6.96361C17.8753 6.74564 17.5211 6.74518 17.303 6.96392C17.303 6.96399 17.3029 6.96407 17.3028 6.96414L7.96388 16.3004Z" fill="black" stroke="black" stroke-width="0.4"/>
                                </svg>
                                Zmień
                            </div>
                        </a>
                    </div>
                    <div class="detail_single py-6 border-b-2 relative w-full">
                        <h3 class="font-bold">Hasło</h3>
                        <p class="mt-3"> ********</p>
                        <a href="/sklep-panel-dane-edycja">
                            <div class="flex font-bold absolute right-0 top-1/2 -translate-y-1/2 py-6">
                                <svg class="mr-3" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.2033 2.33884L23.2033 2.33877L22.6611 1.79671L22.5215 1.93636L22.6611 1.79671C21.996 1.13179 21.1208 0.8 20.2462 0.8C19.3715 0.8 18.4957 1.13243 17.8313 1.79671L3.20463 16.4208C3.18841 16.4364 3.17307 16.4531 3.15873 16.4708L3.12432 16.4596L3.0675 16.633C3.06555 16.6385 3.06369 16.644 3.0619 16.6495L3.04886 16.6899L0.837159 23.44C0.793054 23.5552 0.785985 23.687 0.827988 23.8143C0.924259 24.1086 1.24089 24.2677 1.53404 24.1709C1.53419 24.1709 1.53433 24.1709 1.53447 24.1708L8.32178 21.9421C8.41241 21.9173 8.49846 21.8693 8.56956 21.7982L8.42816 21.6568L8.56957 21.7982L23.2032 7.16713C23.8683 6.50278 24.2002 5.62769 24.2002 4.75322C24.2002 3.87865 23.8677 3.00368 23.2033 2.33884ZM21.8698 2.58734L22.412 3.12939C22.8574 3.57468 23.0808 4.16296 23.0808 4.7526C23.0808 5.34224 22.8574 5.93052 22.412 6.37581L7.87125 20.9134L2.23396 22.765L4.0819 17.1248L18.6226 2.58734C19.0679 2.14204 19.6564 1.91858 20.2462 1.91858C20.836 1.91858 21.4244 2.14204 21.8698 2.58734L22.0112 2.4459L21.8698 2.58734Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M4.20353 16.2119C3.98523 15.9936 3.63065 15.9932 3.41255 16.2122C3.19572 16.4299 3.19368 16.7842 3.41301 17.0026C3.41307 17.0027 3.41312 17.0028 3.41318 17.0028L7.99295 21.5816C8.21126 21.7998 8.56584 21.8003 8.78394 21.5813C9.00075 21.3635 9.00281 21.0094 8.78354 20.7909C8.78346 20.7908 8.78338 20.7907 8.78331 20.7907L4.20353 16.2119Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M17.4974 2.92281C17.2789 2.70438 16.9245 2.70438 16.7061 2.92281C16.4878 3.14103 16.4873 3.49548 16.7062 3.71358C16.7063 3.71363 16.7063 3.71369 16.7064 3.71375L21.2862 8.29253C21.5046 8.51096 21.859 8.51096 22.0775 8.29253C22.2957 8.07432 22.2962 7.71991 22.0774 7.50182C22.0773 7.50174 22.0772 7.50167 22.0771 7.50159L17.4974 2.92281Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M7.96388 16.3004L7.96388 16.3004L8.61314 16.9502L8.75455 17.0917L8.75459 17.0916C8.75468 17.0915 8.75477 17.0914 8.75486 17.0913L18.0938 7.75445C18.3121 7.5362 18.3126 7.1817 18.0936 6.96361C17.8753 6.74564 17.5211 6.74518 17.303 6.96392C17.303 6.96399 17.3029 6.96407 17.3028 6.96414L7.96388 16.3004Z" fill="black" stroke="black" stroke-width="0.4"/>
                                </svg>
                                Zmień
                            </div>
                        </a>
                    </div>
                    <div class="detail_single py-6 border-b-2 relative w-full">
                        <h3 class="font-bold">Dane firmy</h3>
                        <p class="mt-3"> Paczkowska sp. z o.o.</p><!-- jak konto nie jest firma to nie pokazujemy tego wiersza-->
                        <p> NIP: 6731810892</p> <!-- jak konto nie jest firma to nie pokazujemy tego wiersza-->
                        <p> Martyna Paczkowska</p>
                        <p> ul.Gdańska 35/6</p>
                        <p> 50-546 Wrocław</p>
                        <a href="/sklep-panel-dane-edycja">
                            <div class="flex font-bold absolute right-0 top-1/2 -translate-y-1/2 py-6">
                                <svg class="mr-3" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.2033 2.33884L23.2033 2.33877L22.6611 1.79671L22.5215 1.93636L22.6611 1.79671C21.996 1.13179 21.1208 0.8 20.2462 0.8C19.3715 0.8 18.4957 1.13243 17.8313 1.79671L3.20463 16.4208C3.18841 16.4364 3.17307 16.4531 3.15873 16.4708L3.12432 16.4596L3.0675 16.633C3.06555 16.6385 3.06369 16.644 3.0619 16.6495L3.04886 16.6899L0.837159 23.44C0.793054 23.5552 0.785985 23.687 0.827988 23.8143C0.924259 24.1086 1.24089 24.2677 1.53404 24.1709C1.53419 24.1709 1.53433 24.1709 1.53447 24.1708L8.32178 21.9421C8.41241 21.9173 8.49846 21.8693 8.56956 21.7982L8.42816 21.6568L8.56957 21.7982L23.2032 7.16713C23.8683 6.50278 24.2002 5.62769 24.2002 4.75322C24.2002 3.87865 23.8677 3.00368 23.2033 2.33884ZM21.8698 2.58734L22.412 3.12939C22.8574 3.57468 23.0808 4.16296 23.0808 4.7526C23.0808 5.34224 22.8574 5.93052 22.412 6.37581L7.87125 20.9134L2.23396 22.765L4.0819 17.1248L18.6226 2.58734C19.0679 2.14204 19.6564 1.91858 20.2462 1.91858C20.836 1.91858 21.4244 2.14204 21.8698 2.58734L22.0112 2.4459L21.8698 2.58734Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M4.20353 16.2119C3.98523 15.9936 3.63065 15.9932 3.41255 16.2122C3.19572 16.4299 3.19368 16.7842 3.41301 17.0026C3.41307 17.0027 3.41312 17.0028 3.41318 17.0028L7.99295 21.5816C8.21126 21.7998 8.56584 21.8003 8.78394 21.5813C9.00075 21.3635 9.00281 21.0094 8.78354 20.7909C8.78346 20.7908 8.78338 20.7907 8.78331 20.7907L4.20353 16.2119Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M17.4974 2.92281C17.2789 2.70438 16.9245 2.70438 16.7061 2.92281C16.4878 3.14103 16.4873 3.49548 16.7062 3.71358C16.7063 3.71363 16.7063 3.71369 16.7064 3.71375L21.2862 8.29253C21.5046 8.51096 21.859 8.51096 22.0775 8.29253C22.2957 8.07432 22.2962 7.71991 22.0774 7.50182C22.0773 7.50174 22.0772 7.50167 22.0771 7.50159L17.4974 2.92281Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M7.96388 16.3004L7.96388 16.3004L8.61314 16.9502L8.75455 17.0917L8.75459 17.0916C8.75468 17.0915 8.75477 17.0914 8.75486 17.0913L18.0938 7.75445C18.3121 7.5362 18.3126 7.1817 18.0936 6.96361C17.8753 6.74564 17.5211 6.74518 17.303 6.96392C17.303 6.96399 17.3029 6.96407 17.3028 6.96414L7.96388 16.3004Z" fill="black" stroke="black" stroke-width="0.4"/>
                                </svg>
                                Zmień
                            </div>
                        </a>
                    </div>
                    <div class="detail_single py-6 border-b-2 relative w-full">
                        <h3 class="font-bold">Dane do wysyłki</h3>
                        <p class="mt-3"> Paczkowska sp. z o.o.</p><!-- jak konto nie jest firma to nie pokazujemy tego wiersza-->
                        <p> Martyna Paczkowska</p>
                        <p> ul.Gdańska 35/6</p>
                        <p> 50-546 Wrocław</p>
                        <a href="/sklep-panel-dane-edycja">
                            <div class="flex font-bold absolute right-0 top-1/2 -translate-y-1/2 py-6">
                                <svg class="mr-3" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.2033 2.33884L23.2033 2.33877L22.6611 1.79671L22.5215 1.93636L22.6611 1.79671C21.996 1.13179 21.1208 0.8 20.2462 0.8C19.3715 0.8 18.4957 1.13243 17.8313 1.79671L3.20463 16.4208C3.18841 16.4364 3.17307 16.4531 3.15873 16.4708L3.12432 16.4596L3.0675 16.633C3.06555 16.6385 3.06369 16.644 3.0619 16.6495L3.04886 16.6899L0.837159 23.44C0.793054 23.5552 0.785985 23.687 0.827988 23.8143C0.924259 24.1086 1.24089 24.2677 1.53404 24.1709C1.53419 24.1709 1.53433 24.1709 1.53447 24.1708L8.32178 21.9421C8.41241 21.9173 8.49846 21.8693 8.56956 21.7982L8.42816 21.6568L8.56957 21.7982L23.2032 7.16713C23.8683 6.50278 24.2002 5.62769 24.2002 4.75322C24.2002 3.87865 23.8677 3.00368 23.2033 2.33884ZM21.8698 2.58734L22.412 3.12939C22.8574 3.57468 23.0808 4.16296 23.0808 4.7526C23.0808 5.34224 22.8574 5.93052 22.412 6.37581L7.87125 20.9134L2.23396 22.765L4.0819 17.1248L18.6226 2.58734C19.0679 2.14204 19.6564 1.91858 20.2462 1.91858C20.836 1.91858 21.4244 2.14204 21.8698 2.58734L22.0112 2.4459L21.8698 2.58734Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M4.20353 16.2119C3.98523 15.9936 3.63065 15.9932 3.41255 16.2122C3.19572 16.4299 3.19368 16.7842 3.41301 17.0026C3.41307 17.0027 3.41312 17.0028 3.41318 17.0028L7.99295 21.5816C8.21126 21.7998 8.56584 21.8003 8.78394 21.5813C9.00075 21.3635 9.00281 21.0094 8.78354 20.7909C8.78346 20.7908 8.78338 20.7907 8.78331 20.7907L4.20353 16.2119Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M17.4974 2.92281C17.2789 2.70438 16.9245 2.70438 16.7061 2.92281C16.4878 3.14103 16.4873 3.49548 16.7062 3.71358C16.7063 3.71363 16.7063 3.71369 16.7064 3.71375L21.2862 8.29253C21.5046 8.51096 21.859 8.51096 22.0775 8.29253C22.2957 8.07432 22.2962 7.71991 22.0774 7.50182C22.0773 7.50174 22.0772 7.50167 22.0771 7.50159L17.4974 2.92281Z" fill="black" stroke="black" stroke-width="0.4"/>
                                    <path d="M7.96388 16.3004L7.96388 16.3004L8.61314 16.9502L8.75455 17.0917L8.75459 17.0916C8.75468 17.0915 8.75477 17.0914 8.75486 17.0913L18.0938 7.75445C18.3121 7.5362 18.3126 7.1817 18.0936 6.96361C17.8753 6.74564 17.5211 6.74518 17.303 6.96392C17.303 6.96399 17.3029 6.96407 17.3028 6.96414L7.96388 16.3004Z" fill="black" stroke="black" stroke-width="0.4"/>
                                </svg>
                                Zmień
                            </div>
                        </a>

                    </div>



                </div>

            </div>

        </div>
    </section>
</Page>
