---

import Page from "../../components/Page.astro";
import Uslugi from "../../components/sections/Uslugi.astro";
import Button from "../../components/ui/Button.astro";

const lab = [
    {
        id: 0,
        title: 'Lorem ipsum dolor set',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo et enim at cursus. Vestibulum nec hendrerit lacus. ',
        image: 'src/assets/IMG/uslugi.jpg',
        alt: 'zdjecie1'

    },
    {
        id: 1,
        title: 'barbarrus magicus',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo et enim at cursus. Vestibulum nec hendrerit lacus. ',
        image: 'src/assets/IMG/uslugi.jpg',
        alt: 'zdjecie2'

    },
    {
        id: 2,
        title: 'Tererte asctus',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo et enim at cursus. Vestibulum nec hendrerit lacus. ',
        image: 'src/assets/IMG/uslugi.jpg',
        alt: 'zdjecie3'
    },
    {
        id: 3,
        title: 'Ipsum lorem',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo et enim at cursus. Vestibulum nec hendrerit lacus. ',
        image: 'src/assets/IMG/uslugi.jpg',
        alt: 'zdjecie3'
    },
    {
        id: 4,
        title: 'Lorem ipsum',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo et enim at cursus. Vestibulum nec hendrerit lacus. ',
        image: 'src/assets/IMG/uslugi.jpg',
        alt: 'zdjecie3'
    }
];
---




<Page>

    <section class="w-full flex mx-auto  relative  items-end  h-screen max-h-[60vh]	 bg-center bg-no-repeat bg-cover max-w-[1400px] bg-[url('/src/assets/IMG/lab.jpg')]">
        <svg  class="absolute top-1/2 translate-y-1/2 left-1/2 translate-y-1/2" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <g clip-path="url(#clip0_927_520)">
                <path d="M19.9992 0C25.5211 0 30.5227 2.23906 34.1414 5.85781C37.7602 9.47656 40 14.4773 40 20C40 25.5219 37.7602 30.5227 34.1414 34.1414C30.5227 37.7602 25.5211 40 19.9992 40C14.4773 40 9.47656 37.7602 5.85781 34.1414C2.23906 30.5227 0 25.5219 0 20C0 14.4789 2.23906 9.47656 5.85781 5.85781C9.47656 2.23906 14.4773 0 19.9992 0ZM26.0461 21.0789C27.1203 20.3852 27.1164 19.6125 26.0461 18.9984L17.4312 13.0008C16.557 12.4508 15.643 12.7742 15.6672 13.9164L15.7016 25.9844C15.7766 27.2234 16.4844 27.5633 17.5273 26.9898L26.0461 21.0789ZM32.2453 7.75391C29.1125 4.62109 24.7812 2.68203 19.9992 2.68203C15.2172 2.68203 10.8875 4.62109 7.75391 7.75391C4.62109 10.8875 2.68203 15.218 2.68203 20C2.68203 24.7828 4.62109 29.1125 7.75391 32.2453C10.8875 35.3789 15.2172 37.318 19.9992 37.318C24.7812 37.318 29.1125 35.3789 32.2453 32.2453C35.3789 29.1125 37.318 24.7828 37.318 20C37.318 15.2172 35.3789 10.8875 32.2453 7.75391Z" fill="white"/>
            </g>
            <defs>
                <clipPath id="clip0_927_520">
                    <rect width="40" height="40" fill="white"/>
                </clipPath>
            </defs>
        </svg>
        <div class="w-[541px] h-full p-[56px] flex items-start gap-10 inline-flex">
            <h1 class="text-white text-5xl font-bold font-['Gilroy'] leading-[57.60px]">Laboratorioum </h1>
        </div>
    </section>

    <section class="w-full  mx-auto  max-w-[1400px] p-6 lg:p-16">

        <h2 class="text-black text-[32px] font-bold font-['Gilroy'] capitalize leading-9">W naszym laboratorium</h2>

        <div class="w-full mt-8 grid lg:grid-cols-2">
            <p class="text-black text-base font-normal font-['Gilroy'] leading-snug">W naszym laboratorium korzystamy z urządzeń firmy FOSS. Dzięki analizatorowi Foss DA1650 jesteśmy w stanie zapewnić klientom szybkie i niezawodne metody pomiaru kluczowych parametrów stosowane na przestrzeni całego łańcucha produkcji pasz. </p>
            <p class="text-black pt-8 lg:pt-0 text-base font-normal font-['Gilroy'] leading-snug">Możemy zbadać każdy surowiec do produkcji uzyskując natychmiastowy wynik badania który pomoże nam odpowiednio dobrać recepturę paszową dla danego gatunku zwierząt oraz wykryje surowce o nieodpowiedniej jakości. </p>

        </div>
    </section>

    <section class="w-full relative mx-auto max-w-[1400px] lg:px-16">
        <img class="object-cover w-full h-full" src="src/assets/IMG/NIRS DA1650 Analyser2_1200x500 1.jpg" alt="Image description">
    </section>

    <section class="w-full relative mx-auto max-w-[1400px] p-6 lg:p-16">
        <p class="text-black text-base font-normal font-['Gilroy'] leading-snug">Po przeprowadzonej analizie mamy oznaczone parametry takie jak: białko, włókno, skrobia, tłuszcz, popiół, woda. Urządzenie w kilka sekund po badaniu dostarcza wyniki analizy do programu komputerowego. Według potrzeb przesyłamy wyniki analizy bezpośrednio do klienta lub do naszemu doradcy żywieniowemu odpowiedzialnemu za ułożenie receptury paszowej. </p>

    </section>


    <section class="pb-0 pt-10 md:pt-28 bg-amber-500  bg-opacity-30  ">
        <div class="p-6 pb-0 lg:p-16  max-w-[1400px] w-full flex mx-auto" >
            <div class="w-full lg:w-1/3">
                <h2 class="text-neutral-900 text-[32px] xl:text-[40px] font-bold font-['Gilroy'] leading-10" > Nasze artykuły</h2>
            </div>

        </div>
        <div class="wrapper  max-w-[1400px] w-full mx-auto pb-0 pb-0 pt-6 lg:pt-16 lg:px-16">

            <div class="splide relative relative" id="splide1">
                <div class="hidden  lg:block lg:z-10  lg:absolute lg:bottom-0 lg:left-0 lg:w-full lg:h-48 bg-gradient-lab"></div>

                <div class="splide__track ">
                    <div class="splide__arrows absolute right-20 top-1/2 ">
                        <button class="splide__arrow bg-transparent splide__arrow--next ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="35" viewBox="0 0 38 35" fill="none">
                                <rect x="37.5342" y="17.4863" width="1.37389" height="24.73" transform="rotate(135 37.5342 17.4863)" fill="#141414"/>
                                <rect x="36.5625" y="16.5137" width="1.37389" height="24.73" transform="rotate(45 36.5625 16.5137)" fill="#141414"/>
                                <rect x="36.3613" y="17.2852" width="1.37389" height="35.8614" transform="rotate(90 36.3613 17.2852)" fill="#141414"/>
                            </svg>
                        </button>

                        <button class="splide__arrow bg-transparent splide__arrow--prev ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="35" viewBox="0 0 38 35" fill="none">
                                <rect x="37.5342" y="17.4863" width="1.37389" height="24.73" transform="rotate(135 37.5342 17.4863)" fill="#141414"/>
                                <rect x="36.5625" y="16.5137" width="1.37389" height="24.73" transform="rotate(45 36.5625 16.5137)" fill="#141414"/>
                                <rect x="36.3613" y="17.2852" width="1.37389" height="35.8614" transform="rotate(90 36.3613 17.2852)" fill="#141414"/>
                            </svg>
                        </button>

                    </div>
                    <ul class="splide__list ">

                        {lab.map((slide, index) => (
                                <div class="splide__slide flex flex-wrap w-full xl:w-3/4 mb-4 ">
                                    <div class="image-container w-full xl:w-2/3">
                                        <div class="w-full bg-center h-[200px] md:h-[300px] lg:h-[400px] xl:h-full  bg-no-repeat bg-cover  " style={{ backgroundImage: `url(${slide.image})` }}>
                                            {/* Dodatkowa zawartość slajdu */}
                                        </div>
                                    </div>
                                    <div class="w-full xl:w-1/3 flex justify-center items-center">
                                        <div class="lg:pl-20">
                                            <p class="text-black text-base font-normal font-['Gilroy'] uppercase leading-loose">{String(index + 1).padStart(2, '0')}</p>
                                            <h3 class="text-neutral-900   xl:text-xl font-bold font-['Gilroy'] leading-tight"> {slide.title}</h3>
                                            <p class="text-neutral-900 mt-4 text-base font-normal font-['Gilroy'] leading-tight"> {slide.description}</p>
                                            <Button type="orange"> Więcej</Button>
                                        </div>
                                    </div>
                                </div>
                        ))}
                    </ul>

                </div>
            </div>
        </div>

    </section>



</Page>