---

import Page from "../../components/Page.astro";
import Button from "../../components/ui/Button.astro";
import H2 from "../../components/ui/h2.astro";
import Paragraph from "../../components/ui/Paragraph.astro";
import PostsOddEven from "../../components/sections/PostsOddEven.astro";
import Added from "../../components/ui/added.astro";
import Add from "../../components/ui/add.astro";
import Buttonunderline from "../../components/ui/Buttonunderline.astro";
import Similarproduct from "../../components/ui/similarproduct.astro";
import Cartitemdesktop from "../../components/ui/cartitemdesktop.astro";
import Cartitemdashboard from "../../components/ui/cartitemdashboard.astro";
import Panelmenu from "../../components/ui/panelmenu.astro";


let quantity = 1;

function handleQuantityChange(event) {
    quantity = parseInt(event.target.value, 10);
}
---


<Page>
<Panelmenu />
    <section  id="productcart-details=edition" class=" mx-auto p-6 lg:pt-12 lg:pb-12 w-full ">
        <div class="mx-auto max-w-[1400px]  w-full ">
            <div class=" w-full lg:w-5/6 pt-12">
                <H2 type="big">Witaj w panelu klienta </H2>
                <div class="flex items-center mt-12">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="16" cy="11" r="5" stroke="black" stroke-width="2"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.9042 27C23.9046 26.9679 23.9048 26.9358 23.9048 26.9036C23.9048 22.5385 20.3662 19 16.0012 19C11.6362 19 8.09766 22.5385 8.09766 26.9036C8.09766 26.9358 8.09785 26.9679 8.09823 27H6.09812C6.09781 26.9679 6.09766 26.9357 6.09766 26.9036C6.09766 21.434 10.5316 17 16.0012 17C21.4708 17 25.9048 21.434 25.9048 26.9036C25.9048 26.9357 25.9046 26.9679 25.9043 27H23.9042Z" fill="black"/>
                    </svg>

                    <p class="font-bold ml-3 text-xl"> Twoje dane</p>
                </div>

            </div>
            <div class="lg:w-5/6 mt-12 flex">
                <div class="account_details w-full">
                    <div class="detail_single py-6 border-b-2 flex flex-wrap justify-between relative w-full">
                        <h3 class="font-bold w-full">Imię i nazwisko</h3>
                        <p class="mt-3 w-full"> Jan Kowalski</p>

                        <div class="flex flex-wrap mt-6 w-full lg:w-4/12">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Imię*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" type="text" placeholder="Jan"  id="imie" name="imie">
                        </div>
                        <div class="flex flex-wrap mt-6 w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Nazwisko*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]"  placeholder="Kowalski"  type="text" id="imie" name="imie">
                        </div>

                        <div class="flex w-full lg:w-3/12 flex-wrap mt-6 justify-between items-end">
                            <a href="" class="underline font-bold ">Anuluj zmiany</a>
                            <a class="px-6 py-2 bg-[#000] font-bold text-[#FFF] rounded-full " href="">Zapisz zmiany</a>
                        </div>
                    </div>
                    <div class="detail_single py-6 border-b-2 flex flex-wrap justify-between relative w-full">
                        <h3 class="font-bold w-full">Email</h3>
                        <p class="mt-3 w-full"> kowalski@gmail.com</p>


                        <div class="flex flex-wrap mt-6  w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Email*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="kowalski@gmail.com"  type="mail" id="mail" name="mail">
                        </div>

                        <div class="flex w-full lg:w-3/12 flex-wrap mt-6 justify-between items-end">
                            <a href="" class="underline font-bold ">Anuluj zmiany</a>
                            <a class="px-6 py-3 bg-[#000] font-bold text-[#FFF] rounded-full " href="">Zapisz zmiany</a>
                        </div>
                    </div>
                    <div class="detail_single py-6 border-b-2 flex flex-wrap justify-between relative w-full">
                        <h3 class="font-bold w-full">Telefon</h3>
                        <p class="mt-3 w-full"> 123 456 789</p>

                        <div class="flex flex-wrap mt-6  w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Telefon*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="123 456 789" type="phone" id="tel" name="tel">
                        </div>

                        <div class="flex w-full lg:w-3/12 flex-wrap mt-6 justify-between items-end">
                            <a href="" class="underline font-bold ">Anuluj zmiany</a>
                            <a class="px-6 py-2 bg-[#000] font-bold text-[#FFF] rounded-full " href="">Zapisz zmiany</a>
                        </div>
                    </div>
                    <div class="detail_single py-6 border-b-2 flex flex-wrap justify-between relative w-full">
                        <h3 class="font-bold w-full">Hasło</h3>
                        <p class="mt-3 w-full"> ******** </p>

                        <div class="flex flex-wrap mt-6 w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Stare hasło</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="••••••••••••" type="phone" id="tel" name="tel">
                        </div>
                        <div class="flex flex-wrap mt-6  w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Nowe hasło</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="••••••••••••" type="phone" id="tel" name="tel">
                        </div>
                        <div class="flex flex-wrap mt-6 hidden md:block w-3/12 ">
                            &nbsp
                        </div>
                        <div class="flex flex-wrap mt-6  w-full lg:w-3/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Potwierdź nowe hasło</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="••••••••••••" type="phone" id="tel" name="tel">
                        </div>

                        <div class="flex w-full lg:w-3/12 flex-wrap mt-6 justify-between items-end">
                            <a href="" class="underline font-bold ">Anuluj zmiany</a>
                            <a class="px-6 py-2 bg-[#000] font-bold text-[#FFF] rounded-full " href="">Zapisz zmiany</a>
                        </div>
                    </div>

                    <div class="detail_single py-6 border-b-2 flex flex-wrap justify-between relative w-full">
                       <div class="w-full">
                           <h3 class="font-bold">Dane firmy</h3>
                           <p class="mt-3"> Paczkowska sp. z o.o.</p><!-- jak konto nie jest firma to nie pokazujemy tego wiersza-->
                           <p> NIP: 6731810892</p> <!-- jak konto nie jest firma to nie pokazujemy tego wiersza-->
                           <p> Martyna Paczkowska</p>
                           <p> ul.Gdańska 35/6</p>
                           <p> 50-546 Wrocław</p>
                       </div>

                        <div class="flex flex-wrap mt-6 w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Nazwa firmy*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="Paczkowska sp. z o.o." type="phone" id="tel" name="tel">
                        </div>
                        <div class="flex flex-wrap mt-6  w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">NIP*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="6731810892" type="phone" id="tel" name="tel">
                        </div>
                        <div class="flex flex-wrap mt-6 hidden md:block w-3/12 ">
                            &nbsp
                        </div>
                        <div class="flex flex-wrap mt-6 w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Osoba kontaktowa*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="Martyna Paczkowska" type="phone" id="tel" name="tel">
                        </div>
                        <div class="flex flex-wrap mt-6 w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Ulica i numer budynku*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="ul.Gdańska 35/6" type="phone" id="tel" name="tel">
                        </div>
                        <div class="flex flex-wrap mt-6 hidden md:block w-3/12 ">
                            &nbsp
                        </div>
                        <div class="flex flex-wrap mt-6 w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Kod pocztowy i miasto*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="50-546 Wrocław" type="phone" id="tel" name="tel">
                        </div>
                        <div class="flex w-full lg:w-3/12 flex-wrap mt-6 justify-between items-end">
                            <a href="" class="underline font-bold ">Anuluj zmiany</a>
                            <a class="px-6 py-2 bg-[#000] font-bold text-[#FFF] rounded-full " href="">Zapisz zmiany</a>
                        </div>
                    </div>
                    <div class="detail_single py-6 border-b-2 flex flex-wrap justify-between relative w-full">
                        <div class="w-full">
                            <h3 class="font-bold">Dane do wysyłki</h3>
                            <p class="mt-3"> Paczkowska sp. z o.o.</p><!-- jak konto nie jest firma to nie pokazujemy tego wiersza-->
                            <p> Martyna Paczkowska</p>
                            <p> ul.Gdańska 35/6</p>
                            <p> 50-546 Wrocław</p>
                        </div>

                        <div class="flex flex-wrap mt-6 w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Nazwa firmy*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="Paczkowska sp. z o.o." type="phone" id="tel" name="tel">
                        </div>
                        <div class="flex flex-wrap mt-6  w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Osoba kontaktowa*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="Martyna Paczkowska" type="phone" id="tel" name="tel">
                        </div>
                        <div class="flex flex-wrap mt-6 hidden md:block  w-3/12 ">
                            &nbsp
                        </div>

                        <div class="flex flex-wrap mt-6  w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Ulica i numer budynku*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="ul.Gdańska 35/6" type="phone" id="tel" name="tel">
                        </div>

                        <div class="flex flex-wrap mt-6 w-full lg:w-4/12 ">
                            <label class="w-full text-[#858585] font-bold ml-4" for="imie">Kod posztowy i miasto*</label>
                            <input class="w-full px-4 py-3 rounded-full border border-[#000]" placeholder="50-546 Wrocław" type="phone" id="tel" name="tel">
                        </div>
                        <div class="flex flex-wrap mt-6 hidden md:block   w-3/12 ">
                            &nbsp
                        </div>
                        <div class="flex flex-wrap mt-6 hidden md:block  w-3/12 ">
                            &nbsp
                        </div>
                        <div class="flex w-full lg:w-3/12 flex-wrap mt-6 justify-between items-end">
                            <a href="" class="underline font-bold ">Anuluj zmiany</a>
                            <a class="px-6 py-2 bg-[#000] font-bold text-[#FFF] rounded-full " href="">Zapisz zmiany</a>
                        </div>
                    </div>



                </div>

            </div>

        </div>
    </section>
</Page>
