---
import Page from "../../components/Page.astro";
const postywrzesien = [
    {
        id: 0,
        title: 'Temat 01',
        image: 'public/img/a1.jpg',
        short: '24.08.2024',
        description: 'Jako producent styropianu odpowiedzialnie podchodzimy do spraw związanych z ochroną środowiska naturalnego. Nasz proces produkcyjny opieramy na technologiach oszczędzających energię',
        miesiac: 'wrzesien',
    },
    {
        id: 1,
        title: 'Temat 03',
        image: 'public/img/a4.jpg',
        short: '24.08.2024',
        description: 'Jako producent styropianu odpowiedzialnie podchodzimy do spraw związanych z ochroną środowiska naturalnego. Nasz proces produkcyjny opieramy na technologiach oszczędzających energię',
        miesiac: 'wrzesien',
    },
    {
        id: 2,
        title: 'Temat 03',
        image: 'public/img/a12.jpg',
        short: '24.08.2024',
        description: 'Jako producent styropianu odpowiedzialnie podchodzimy do spraw związanych z ochroną środowiska naturalnego. Nasz proces produkcyjny opieramy na technologiach oszczędzających energię',
        miesiac: 'sierpien',
    },
    {
        id: 3,
        title: 'Temat 04',
        image: 'public/img/a1.jpg',
        short: '24.08.2024',
        description: 'Jako producent styropianu odpowiedzialnie podchodzimy do spraw związanych z ochroną środowiska naturalnego. Nasz proces produkcyjny opieramy na technologiach oszczędzających energię.',
        miesiac: 'sierpien',
    },
];
---
<Page>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const nav = document.querySelector('nav');
            nav.classList.add('nav-scrolled');
        });
    </script>
    <div id="onas_header" class="h-[90vh] relative filter-grey  ">
        <svg  class="w-full opacity-70 h-full absolute top-0 left-0 z-50"  viewBox="0 0 100% 100%" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="100%" height="100%" fill="url(#paint0_radial_533_791)" style="mix-blend-mode:color-burn"/>
            <defs>
                <radialGradient id="paint0_radial_533_791" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(554.405 971.593) rotate(8.08117) scale(928.241 1024.07)">
                    <stop stop-color="#ED1C24"/>
                    <stop offset="0.87" stop-color="#ED1C24" stop-opacity="0"/>
                </radialGradient>
            </defs>
        </svg>

        <div class=" bg-gradient-to-r from-red-500 to-stone-400 "></div>
        <iframe  class="filter grayscale " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2305.811572295145!2d18.282575792885066!3d51.34469237314628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471a9ca6103bbeb1%3A0xad26e4e2648c23af!2sAmitec%20Agnieszka%20Misiek!5e0!3m2!1spl!2spl!4v1727169405469!5m2!1spl!2spl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <section>
        <div class="mx-auto py-12 w-full max-w-[1440px]">
            <div class="w-full flex justify-between">
                <div class="w-2/6">
                    <h2 class="text-[#2e2e2e] mb-12 text-xl font-medium ">Amitec Sp. z o. o</h2>
                    <p class="text-[#999999] py-1 text-sm font-light ">NIP 9970160909 </p>
                    <p class="text-[#999999] py-1 text-sm font-light ">KRS 0000852064</p>
                    <p class="text-[#999999] py-1 text-sm font-light ">REGON 386631402</p>
                </div>
                <div class="w-2/6">
                    <h2 class="text-[#2e2e2e] mb-12 text-xl font-medium ">Biuro</h2>
                    <p class="text-[#999999] py-1 text-sm font-light ">+48 531 581 109</p>
                    <p class="text-[#999999] py-1 text-sm font-light ">biuro@amitec.com.pl</p>
                    <p class="text-[#999999] py-1 text-sm font-light ">ul. Stefana Żeromskiego 1A</p>
                    <p class="text-[#999999] py-1 text-sm font-light ">98-405 Galewice | Poland</p>
                </div>
            </div>
            <div class="w-full flex justify-between py-12">
                <div class="w-2/6">

                </div>
                <div class="w-2/6">
                    <h2 class="text-[#2e2e2e] mb-12 text-xl font-medium ">Transport</h2>
                    <p class="text-[#999999] py-1 text-sm font-light ">+48 531 581 109</p>
                    <p class="text-[#999999] py-1 text-sm font-light ">transport@amitec.com.pl</p>

                </div>
            </div>
            <div class="w-full flex justify-between py-12">
                <div class="w-2/6">
                    <h2 class="text-[#2e2e2e] mb-12 text-xl font-medium ">Godziny pracy</h2>
                    <p class="text-[#999999] py-1 text-sm font-light ">Pon. - Pt.</p>
                    <p class="text-[#999999] py-1 text-sm font-light ">08.00 - 16.00</p>
                </div>
                <div class="w-2/6">
                    <h2 class="text-[#2e2e2e] mb-12 text-xl font-medium ">Projekty</h2>
                    <p class="text-[#999999] py-1 text-sm font-light ">+48 577 077 419</p>
                    <p class="text-[#999999] py-1 text-sm font-light ">projekty@amitec.com.pl</p>

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="w-full flex justify-between">
            <div class="w-1/2">

            </div>
            <div class="w-1/2">
                <div class="w-72 h-fit p-5 shadow-2xl  bg-white border-b-4 border-[#ed1c24] flex-col justify-start items-start gap-5 inline-flex">
                    <div class="text-[#2e2e2e] text-2xl font-medium ">Województwo</div>
                    <div class="py-5 flex-col relative justify-center items-start gap-11 flex">
                        <img class="w-24 h-28" src="https://via.placeholder.com/90x112" />
                        <div class="h-32 flex-col justify-start items-start gap-14 flex">
                            <div class="self-stretch text-[#2e2e2e] text-2xl font-medium ">Jan Kowalski</div>
                            <div class="self-stretch h-12 flex-col justify-start items-start gap-2.5 flex">
                                <div class="self-stretch text-[#2e2e2e] text-sm font-normal ">+48 123 626 632</div>
                                <div class="self-stretch text-[#2e2e2e] text-sm font-normal ">j.kowalski@amitec.com.pl</div>
                            </div>
                        </div>
                        <div class="w-0 h-0
                      border-l-[20px] border-l-transparent
                      border-t-[15px] border-t-[#ed1c24]
                      border-r-[20px] border-r-transparent absolute -bottom-9 translate-x-1/2 left-1/2 ">
                        </div>
                    </div>
                </div>
                <img src="public/img/map.svg">
            </div>
        </div>
    </section>

</Page>
