---
import Button from "../ui/Button.astro";
import Buttonunderline from "../ui/Buttonunderline.astro";
const categories = [
    {
        id: 0,
        title: 'Ściany / Fasada',

    },
    {
        id: 1,
        title: 'Dach',
    },
    {
        id: 2,
        title: 'Piwnica',
    },
    {
        id: 3,
        title: 'Wypełnienia',
    },

];

const products = [
    {
        id: 0,
        title: 'EPS 80-038',
        image: 'public/img/a3.jpg',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'

    },
    {
        id: 1,
        title: 'EPS 80-038',
        image: 'public/img/a3.jpg',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'

    },
    {
        id: 2,
        title: 'EPS 80-038',
        image: 'public/img/a3.jpg',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'

    },
    {
        id: 3,
        title: 'EPS 80-038',
        image: 'public/img/a3.jpg',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'

    },
    {
        id: 4,
        title: 'EPS 80-038',
        image: 'public/img/a3.jpg',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    },


];


---


<section id="cat" class=" black">
    <div class="w-full flex justify-center flex-wrap p-6 lg:p-12 mx-auto max-w-[1400px]">
        <div class="flex-initial w-full flex  flex-wrap  font-light leading-9" >
            {categories.map((slide, index) => (
                    <h2 class=" cursor-pointer mr-6 hover:underline focus:underline active:underline hover:underline-offset-8 decoration-4	decoration-red-500   lg:mb-6"> {slide.title}</h2>
            ))}
        </div>
        <div class="w-full flex flex-wrap flex-auto pt-12 mx-auto max-w-[1400px]">
            <div class="flex w-full lg:w-2/5 pr-4 flex-wrap h-[60vh] overflow-x-auto rtl" >
                {products.map((slide, index) => (
                        <div class="w-full flex p-1 border-b border-b-[#A3A3A3] ">
                            <div class="lg:p-4 mb-3 lg:mb-0 bg-white  text-black">
                                <h2 class="text-black text-xl normal leading-snug"> {slide.title}</h2>
                                <p class="font-light text-sm pt-3 text-[#A3A3A3]">{slide.description} </p>
                                <div class="h-5 px-2.5 py-1 rounded-sm mt-3 border border-[#d1d1d1] justify-start items-center gap-2.5 inline-flex">
                                    <button class="text-[#2e2e2e] text-xs font-normal font-['Objectivity'] leading-3">Zobacz produkt</button>
                                </div>                            </div>
                            <div class="bg-center	 bg-no-repeat	pt-[20%] bg-contain w-full	" style={{ backgroundImage: `url(${slide.image})` }}>
                                {/* Dodatkowa zawartość slajdu */}
                            </div>
                        </div>

                ))}
            </div>
            <div class="flex w-full lg:w-3/5 mt-3 lg:mt-0 pr-4 justify-center items-end">
                    <img class="w-full" src="public/img/a4.jpg">
            </div>
            <div>

            </div>
        </div>
    </div>
    <div class="w-full flex justify-start flex-wrap p-12 mx-auto max-w-[1400px]">
        <button class="h-12 px-6 py-4 bg-black/90 rounded justify-start items-center gap-2.5 inline-flex">
            <div class="text-white text-base font-medium font-['Objectivity']">Zobacz wszystkie produkty</div>
        </button>
    </div>

</section>
