---
import Button from "../ui/Button.astro";


---





<section class="bg-[#e9e9e9] pt-6 lg:py-12">
    <div class="w-full p-6 lg:p-12 mx-auto max-w-[1400px] ">
        <img class=" lg:h-[60vh] w-full -left-1 object-cover w-full " src="public/img/a7.jpg">
        <h2 class="text-[#2e2e2e] text-3xl py-12 font-medium font-['Objectivity'] leading-tight">Know-how poparte 25-letnim doświadczeniem</h2>
        <p class="w-full lg:w-2/3 text-[#707070] text-sm font-light text-justify">Mocno wierzymy w to, że doskonałość to proces, dlatego od 25 lat koncentrujemy się na ulepszaniu naszych produktów. Jesteśmy na bieżąco z potrzebami klientów i trendami na rynku budowlanym, jednocześnie odpowiadając na wyzwania w zakresie ochrony środowiska. Pozycję lidera budujemy dzięki doświadczonemu zespołowi ekspertów oraz dwóm zakładom produkcyjnym, które nieustannie unowocześniamy i optymalizujemy.</p>
        <button class="mt-6 h-12 px-5 py-2.5 bg-[#2e2e2e] rounded justify-start items-center gap-2.5 inline-flex">
            <div class="text-white text-sm font-medium font-['Objectivity'] leading-3">Dowiedz się więcej</div>
        </button>

    </div>
</section>
