---
import Button from "../ui/Button.astro";

const pageTitle = "Page title"; // This could also come from props, state, or context

---


<section class="w-full flex mx-auto mt-28   items-end  h-screen max-h-[60vh]	 bg-center bg-no-repeat bg-cover max-w-[1400px] bg-[url('src/assets/IMG/doradztwo/doradztwo.jpg')]">
    <div class="w-[541px] h-full p-[56px] flex items-center gap-10 inline-flex">
        <h1 class="text-white text-5xl font-bold font-['Gilroy'] leading-[57.60px]"> Doradztwo</h1>
    </div>
</section>


