---
import Button from "../ui/Button.astro";


---


<section class="w-full flex mx-auto m-28   items-end  h-screen max-h-[60vh]	 bg-center bg-no-repeat bg-cover max-w-[1400px] bg-[url('src/assets/IMG/Onas/image15.jpg')]">
    <div class="w-[541px] h-min-[210px] p-[56px] flex-col justify-start items-start gap-10 inline-flex">
        <h1 class="text-white text-5xl font-bold font-['Gilroy'] leading-[57.60px]">Z pasją łączymy tradycję i nowoczesność </h1>

        <p class="w-[402px] text-white text-base font-normal font-['Gilroy'] leading-[17.60px]"> Od ponad 25 lat dystrybuujemy środki produkcji rolnej. Bazujemy na rodzinnych doświadczeniach, które uzupełniamy o najnowsze zdobycze nauki i technologii.</p>
    </div>
</section>


