---
import Button from "../ui/Button.astro";


---


<section class=" flex mx-auto  items-end  	 ">
    <div class="w-full h-screen max-h-[60vh] m-5 lg:m-28  bg-center bg-no-repeat bg-cover max-w-[1400px] bg-[url('src/assets/IMG/Onas/image15.jpg')]">
    <div class="md:w-[541px] h-min-[210px] p-12 md:p-[56px] flex-col justify-start items-start gap-10 inline-flex">
        <h1 class="text-white text-[36px] md:text-5xl font-bold font-['Gilroy'] leading-[57.60px]">Z pasją łączymy tradycję i nowoczesność </h1>

        <p class="lg:w-[402px] text-white text-base font-normal font-['Gilroy'] leading-[17.60px]"> Od ponad 25 lat dystrybuujemy środki produkcji rolnej. Bazujemy na rodzinnych doświadczeniach, które uzupełniamy o najnowsze zdobycze nauki i technologii.</p>
    </div>
    </div>
</section>


