---
// Tutaj możesz umieścić skrypty JavaScript do obsługi slidera


import Button from "../ui/Button.astro";
import H2 from "../ui/h2.astro";

const onas = [
    {
        title: 'O nas',
        description: 'Bazujemy na rodzinnych tradycjach oraz wieloletniej \n' +
            'pasji do hodowli. Od ponad 10 lat lat zajmujemy się dystrybucją dodatków paszowych dla zwierząt, \n' +
            'nawozów, środków ochrony roślin, materiału siewnego oraz preparatów służących do dezynfekcji pomieszczeń rolnych. Możesz spokojnie dać nam pole do popisu. ',
        image: '/src/assets/IMG/onas.jpg',
        alt: 'zdjecie1'

    },

];



---


<section class="bg-opacity-20">

    {onas.map((slide, index) => (
            <div class="w-full max-h-[500px] bg-center bg-no-repeat bg-cover h-100vh" style={{ backgroundImage: `url(${slide.image})` }}>
                <div class="mx-auto h-full w-full max-w-[1400px] relative">
                    <div class="absolute p-10 w-4/5 lg:w-1/3 -bottom-16 left-1/2 -translate-x-1/2 lg:-translate-x-0 lg:left-0 bg-orange">
                        <H2 type="onas">{slide.title} </H2>
                        <p class="max-w-[423px] text-black text-base mt-6 font-normal font-['Gilroy'] leading-snug">{slide.description}</p>
                    </div>
                </div>
            </div>
    ))}


</section>

<section class="w-full flex  flex-wrap lg:flex-nowrap mx-auto m-28  max-w-[1400px] ">
    <div class="w-full lg:w-3/6 relative">
        <div class="pt-[100%] bg-center bg-no-repeat orelative bg-[url('/src/assets/IMG/onasmain.png')]">
            <div class="absolute max-w-[400px] m-auto lg:top-1/2 lg:right-0 right-1/2 -translate-y-1/2 translate-x-1/2 lg:-translate-x-1/2 lg:translate-y-1/2 xl:translate-x-1/2 xl:-translate-y-1/2"  >
                <img src="src/assets/IMG/onassecondary.png">
            </div>
        </div>
    </div>
    <div class=" pt-40 lg:pt-0 w-full lg:w-3/6 m-12 flex justify-end items-center">
        <div class="max-w-[500px]">
            <H2 type="regular">Łączymy tradycję </H2>
            <p class="text-neutral-900 mt-8 text-base font-normal font-['Gilroy'] leading-snug">Nasza misja polega na dostarczaniu jakościowych, indywidualnie dobranych produktów i usług, które wydobywają + uruchamiają potencjał drzemiący
                w gospodarstwach rolnych. Dzięki nam agrobiznesy rozrastają się niczym optymalnie karmione
                i utrzymywane stada..</p>
            <Button type="orange"> Zobacz więcej </Button>
        </div>

    </div>
</section>
