---
import Button from "../ui/Button.astro";

const about = [
    {
        id: 0,
        title: 'Sztafeta pokoleń',
        description: 'Nasza misja polega na dostarczaniu jakościowych, indywidualnie dobranych produktów i usług, które wydobywają + uruchamiają potencjał drzemiący w gospodarstwach rolnych. Dzięki nam agrobiznesy rozrastają się niczym optymalnie karmione i utrzymywane stada.',
        image: 'src/assets/IMG/Onas/image17.jpg',
        bgcolor: 'orange',

    },
    {
        id: 1,
        title: 'W stronę przyszłości',
        description: 'Opieramy się na rodzinnych wartościach i korzystamy z bogatych doświadczeń poprzedników. Ale jednocześnie wdrażamy najnowocześniejsze technologie, by sprostać wymaganiom klientów oraz spełniać wyśrubowane europejskie normy.',
        image: 'src/assets/IMG/Onas/image18.jpg',


    },

    ]
---




<section class="max-w-[1400px] w-full mx-auto">
    {about.map((slide, index) => (
            <div className={`mb-12 md:mb-28 flex flex-wrap md:flex-nowrap ${index % 2 === 0 ? 'flex-row' : 'flex-row-reverse'}`}>
                <div class="w-full md:w-[60%] bg-center	  bg-no-repeat	 bg-cover	h-[40vh]" style={{ backgroundImage: `url(${slide.image})` }}>
                    {/* Dodatkowa zawartość slajdu */}
                </div>
                <div className={`w-full md:w-[40%] p-[20px] ${index % 2 === 0 ? ' flex items-start justify-start' : 'md:flex items-end justify-end'}`}>
                   <div class="w-[329px]  flex-col justify-start items-start gap-8 inline-flex">
                       <h2 class="text-black text-[32px] font-bold font-['Gilroy'] leading-9"> {slide.title}</h2>
                       <p class="text-black text-base font-normal font-['Gilroy']">{slide.description}</p>
                   </div>
                </div>
            </div>
    ))}

</section>