---
import Page from "../components/Page.astro";
import Slider from "../components/sections/Slider.astro";
import Button from "../components/ui/Button.astro";
import Datatable from "../components/sections/Datatable.astro";
import Cat from "../components/sections/Cat.astro";
import Banner from "../components/sections/Banner.astro";
import Uslugi from "../components/sections/Uslugi.astro";
import Onas from "../components/sections/Onas.astro";
import Kontakt from "../components/sections/Kontakt.astro";
import Partnerzy from "../components/sections/Partnerzy.astro";
import Opinie from "../components/sections/Opinie.astro";
import Aktualnosci from "../components/sections/Aktualnosci.astro";
import Bannerbottom from "../components/ui/Bannerbottom.astro";
import Footer from "../components/ui/Footer.astro";



---

<Page>
	<div class="w-full  mx-auto">
		<Slider />
	</div>
	<div class="w-full  mx-auto max-w-[1400px]">
		<Datatable />
	</div>
	<Cat />
	<Banner />
	<Uslugi />
	<Onas />
	<Kontakt />
	<Partnerzy />
	<Opinie />
	<Aktualnosci />
	<Bannerbottom />

</Page>