---
import Page from "../components/Page.astro";
import Slider from "../components/ui/Slider.astro";
import Button from "../components/ui/Button.astro";
import Datatable from "../components/ui/Datatable.astro";
import Cat from "../components/ui/Cat.astro";
import Banner from "../components/ui/Banner.astro";
import Uslugi from "../components/ui/Uslugi.astro";
import Onas from "../components/ui/Onas.astro";
import Kontakt from "../components/ui/Kontakt.astro";



---

<Page>
	<div class="w-full  mx-auto">
		<Slider />
	</div>
	<div class="w-full  mx-auto max-w-[1400px]">
		<Datatable />
	</div>
	<Cat />
	<Banner />
	<Uslugi />
	<Onas />
	<Kontakt />







</Page>