---
import Page from "../components/Page.astro";
import Slider from "../components/ui/Slider.astro";
import Button from "../components/ui/Button.astro";
import Datatable from "../components/ui/Datatable.astro";
import Cat from "../components/ui/Cat.astro";
import Banner from "../components/ui/Banner.astro";
import Uslugi from "../components/ui/Uslugi.astro";
import Onas from "../components/ui/Onas.astro";
import Kontakt from "../components/ui/Kontakt.astro";
import Partnerzy from "../components/ui/Partnerzy.astro";
import Opinie from "../components/ui/Opinie.astro";
import Aktualnosci from "../components/ui/Aktualnosci.astro";
import Bannerbottom from "../components/ui/Bannerbottom.astro";



---

<Page>
	<div class="w-full  mx-auto">
		<Slider />
	</div>
	<div class="w-full  mx-auto max-w-[1400px]">
		<Datatable />
	</div>
	<Cat />
	<Banner />
	<Uslugi />
	<Onas />
	<Kontakt />
	<Partnerzy />
	<Opinie />
	<Aktualnosci />
	<Bannerbottom />




</Page>