---
import Page from "../components/Page.astro";
import Slider from "../components/sections/Slider.astro";
import Cat from "../components/sections/Cat.astro";
import Usp from "../components/sections/usp.astro";
import Hurrtownia from "../components/sections/hurrtownia.astro";
import Realizacje from "../components/sections/realizacje.astro";
import Mission from "../components/sections/Mission.astro";
import Experience from "../components/sections/Experience.astro";
import Calc from "../components/sections/Calc.astro";
import Newsletter from "../components/sections/newsletter.astro";



---

<Page>
	<div class="w-full">
		<Slider />
	</div>

	<Cat />
	<Usp />
	<Hurrtownia/>
	<Realizacje />
	<Mission/>
	<Experience />
	<Calc />
	<Newsletter />
</Page>
