---
import Nav from "./ui/Nav.astro";
import '../assets/styles/index.css';
import Footer from "./ui/Footer.astro";
import Navcommerce from "./ui/navcommerce.astro";
import Navcommerceresults from "./ui/navcommerceresults.astro";

interface Props {
    title?: string | undefined;
}

const { title = undefined } = Astro.props;

const finalTitle = typeof title === 'undefined' ? 'Rolnik +' : `${title} | Rolnik +`;

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide/dist/css/splide.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide/dist/js/splide.min.js"></script>

        <title>{finalTitle}</title>


    </head>
    <body class="body font-['Gilroy']">
    <!--<Navcommerce />-->
        <Navcommerceresults />
        <slot />
        <Footer />
    </body>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        new Splide('#slider').mount();
    });


</script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var splide1 = new Splide('#splide1', {
                type: 'slide', // Enables looping
                direction: 'ttb', // Top-to-bottom vertical orientation
                perPage: 1.5, // Number of slides per page
                perMove: 1, // Number of slides moved per arrow click or swipe
                height: '500px', // Set a fixed height for the slider
                pagination: false, // Disable pagination dots
                breakpoints: {
                    640: { // Mobile devices
                        perPage: 4, // 4 slides per page on mobile
                        height: '2000px', // Set a fixed height for the slider

                    },
                    1024: { // Tablet devices
                        perPage: 2, // 2 slides per page on tablets
                        height: '800px', // Set a fixed height for the slider

                    },
                    1300: { // Tablet devices
                        height: '1000px', // Set a fixed height for the slider

                    },
                },
            });

            splide1.mount(); // Mount the slider
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var splide2 = new Splide('#splide2', {
                type: 'loop', // Enables looping
                autoplay: true,
                perPage: 4, // Number of slides per page
                perMove: 1, // Number of slides moved per arrow click or swipe
                pagination: false, // Disable pagination dots
                breakpoints: {
                    768: { // Tablet breakpoint (e.g., 768px)
                        perPage: 3,
                    },
                    480: { // Mobile breakpoint (e.g., 480px)
                        perPage: 2,
                    },
                },
            });

            splide2.mount(); // Mount the slider
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var splide3 = new Splide('#splide3', {
                type: 'loop', // Enables looping
                autoplay: true,
                perPage: 3, // Number of slides per page
                perMove: 1, // Number of slides moved per arrow click or swipe
                pagination: false, // Disable pagination dots
                breakpoints: {
                    768: { // Tablet breakpoint (e.g., 768px)
                        perPage: 1,
                    },
                    480: { // Mobile breakpoint (e.g., 480px)
                        perPage: 1,
                    },
                },
            });

            splide3.mount(); // Mount the slider
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var splide4 = new Splide('#splide4', {
                type: 'loop', // Enables looping
                autoplay: true,
                perPage: 3.5, // Number of slides per page
                perMove: 1, // Number of slides moved per arrow click or swipe
                pagination: false, // Disable pagination dots
                breakpoints: {
                    900: { // Tablet breakpoint (e.g., 768px)
                        perPage: 2,
                    },
                    480: { // Mobile breakpoint (e.g., 480px)
                        perPage: 1,
                    },
                },
            });

            splide4.mount(); // Mount the slider
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var splide4 = new Splide('#splide5', {
                type: 'loop', // Enables looping
                autoplay: false,
                perPage: 2, // Number of slides per page
                perMove: 1, // Number of slides moved per arrow click or swipe
                pagination: false, // Disable pagination dots

            });

            splide4.mount(); // Mount the slider
        });
    </script>
    <script>
        document.getElementById('search-toggle').addEventListener('click', function() {
            document.querySelector('.navactive').classList.toggle('hidden');
        });
    </script>

    <script>
        const openButton = document.getElementById('open-advisor');
        const closeButton = document.getElementById('close-advisor');
        const advisorDiv = document.getElementById('advisor');

        openButton.addEventListener('click', () => {
            advisorDiv.style.display = 'block';
            openButton.style.display = 'none';
        });

        closeButton.addEventListener('click', () => {
            advisorDiv.style.display = 'none';
            openButton.style.display = 'block';
        });
    </script>
    <script>
        // Pobierz przycisk otwierający i zamykający filtry oraz div z filtrami
        const openButton = document.getElementById('openfilters');
        const closeButton = document.getElementById('closefilters');
        const filters = document.getElementById('filters');

        // Dodaj obsługę zdarzenia kliknięcia na przycisku otwierającym filtry
        openButton.addEventListener('click', function() {
            // Pokaż filtry
            filters.classList.remove('hidden');
        });

        // Dodaj obsługę zdarzenia kliknięcia na przycisku zamykającym filtry
        closeButton.addEventListener('click', function() {
            // Ukryj filtry
            filters.classList.add('hidden');
        });
    </script>
    <script>
        // Pobranie przycisku i elementu, który ma być pokazywany/ukrywany
        const button = document.querySelector('.toggle-button');
        const orderDetails = document.getElementById('orderdetails');

        // Dodanie nasłuchiwacza na kliknięcie przycisku
        button.addEventListener('click', function() {
            // Sprawdzenie, czy element jest aktualnie widoczny
            const isVisible = orderDetails.classList.contains('hidden');

            // Jeśli jest widoczny, ukryj go i zmień tekst przycisku na "Zobacz"
            if (isVisible) {
                orderDetails.classList.remove('hidden');
                button.textContent = 'Zamknij';
            } else { // Jeśli nie jest widoczny, pokaż go i zmień tekst przycisku na "Zamknij"
                orderDetails.classList.add('hidden');
                button.textContent = 'Zobacz';
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Pobierz elementy po identyfikatorach
            const couponOpen = document.getElementById("coupon-open");
            const couponClose = document.getElementById("coupon-close");
            const couponWrapper = document.getElementById("coupon-wrapp");
            const placeOrderBtn = document.getElementById("place-order");
            const goPaymentBtn = document.getElementById("go-payment");

            // Funkcja do obsługi kliknięcia na przycisk otwierający kupon
            couponOpen.addEventListener("click", function() {
                // Ukryj przyciski place-order i go-payment
                placeOrderBtn.style.display = "none";
                goPaymentBtn.style.display = "none";
                // Usuń klasę "hidden" z wrappera kuponu
                couponWrapper.classList.remove("hidden");
            });

            // Funkcja do obsługi kliknięcia na przycisk zamykający kupon
            couponClose.addEventListener("click", function() {
                // Dodaj klasę "hidden" do wrappera kuponu
                couponWrapper.classList.add("hidden");
                // Przywróć widoczność przycisków place-order i go-payment
                placeOrderBtn.style.display = "block";
                goPaymentBtn.style.display = "block";
            });
        });
    </script>

</html>
