---

import Page from "../../components/Page.astro";
import Button from "../../components/ui/Button.astro";
import H2 from "../../components/ui/h2.astro";
import Paragraph from "../../components/ui/Paragraph.astro";
import PostsOddEven from "../../components/sections/PostsOddEven.astro";
import Added from "../../components/ui/added.astro";
import Add from "../../components/ui/add.astro";
import Buttonunderline from "../../components/ui/Buttonunderline.astro";
import Similarproduct from "../../components/ui/similarproduct.astro";
import Similarproductcart from "../../components/ui/similarproductcart.astro";
import Cartitemdesktop from "../../components/ui/cartitemdesktop.astro";


let quantity = 1;

function handleQuantityChange(event) {
    quantity = parseInt(event.target.value, 10);
}




---


<Page>

    <section>
        <div class="mx-auto w-full max-w-[1440px] p-6">
            <h1 class="text-neutral-900 text-[30px] md:text-[60px] font-bold  mt-20 text-left leading-tight"> Twój koszyk jest pusty </h1>
            <div class="info mt-5 lg:w-8/12  flex justify-start  md:p-3  ">
                <button class="bg-[#FF9700] text-[#000] px-6 py-2 rounded-full">
                    Idź do sklepu
                </button>
            </div>
        </div>
    </section>
    <section class=" mx-auto w-full max-w-[1440px]  p-12 md:p-3 xl:p-0 ">
        <div class="min-h-[45vh] flex justify-center items-center">
            <svg width="381" height="242" viewBox="0 0 381 242" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M377.049 37.3426L377.966 36.2857C379.261 34.5452 380.196 32.565 380.716 30.4602C381.237 28.3555 381.334 26.1683 381 24.026L379.236 13.7392C378.905 11.5464 378.134 9.44289 376.97 7.55451C375.806 5.66612 374.272 4.03168 372.461 2.74898C370.649 1.46627 368.597 0.561674 366.428 0.0893129C364.258 -0.383048 362.015 -0.413464 359.833 -0.000114918L188.313 29.5217C187.401 29.6814 186.504 29.9171 185.632 30.2263H18.2739C13.4274 30.2263 8.77932 32.1489 5.3523 35.5712C1.92528 38.9935 0 43.6351 0 48.4749L0 54.2524C0 59.0923 1.92528 63.7339 5.3523 67.1561C8.77932 70.5784 13.4274 72.501 18.2739 72.501H28.575L62.5828 220.956C64.728 226.969 68.6759 232.177 73.8896 235.871C79.1034 239.564 85.3298 241.565 91.7222 241.6H296.333C308.046 241.6 315.524 233.145 318.417 220.885L352.354 72.501H362.726C367.573 72.501 372.221 70.5784 375.648 67.1561C379.075 63.7339 381 59.0923 381 54.2524V48.4749C380.971 44.4265 379.58 40.5054 377.049 37.3426ZM18.2033 58.4799C17.6566 58.4707 17.1171 58.3541 16.6156 58.1367C16.114 57.9192 15.6603 57.6053 15.2803 57.2127C14.9003 56.8201 14.6014 56.3566 14.4008 55.8487C14.2002 55.3408 14.1018 54.7984 14.1111 54.2524V48.4749C14.1111 47.3724 14.5497 46.315 15.3304 45.5354C16.111 44.7558 17.1699 44.3179 18.2739 44.3179H174.766C174.59 45.698 174.59 47.0948 174.766 48.4749L176.389 58.4095H18.2739L18.2033 58.4799ZM304.729 217.715C304.259 220.362 302.911 222.774 300.902 224.563C298.893 226.352 296.339 227.414 293.652 227.579H87.3478C84.6668 227.43 82.1146 226.382 80.1042 224.605C78.0939 222.828 76.7431 220.425 76.2706 217.785L43.1094 72.501H337.891L304.729 217.715ZM366.889 54.2524C366.889 54.7983 366.781 55.3389 366.572 55.8433C366.363 56.3476 366.056 56.8059 365.67 57.1919C365.283 57.5779 364.824 57.8841 364.319 58.093C363.814 58.3019 363.273 58.4095 362.726 58.4095H276.931L359.833 44.3179H363.008C364.112 44.3179 365.171 44.7558 365.952 45.5354C366.733 46.315 367.171 47.3724 367.171 48.4749L366.889 54.2524Z" fill="black"/>
                <path d="M192.266 164.679C204.44 164.258 216.446 167.616 226.63 174.291C236.815 180.966 244.676 190.63 249.133 201.951C249.439 202.826 249.914 203.631 250.532 204.322C251.15 205.013 251.897 205.576 252.733 205.978C253.568 206.381 254.475 206.615 255.4 206.667C256.326 206.72 257.254 206.59 258.129 206.284C259.005 205.979 259.812 205.505 260.504 204.888C261.196 204.271 261.759 203.524 262.162 202.69C262.565 201.856 262.799 200.951 262.852 200.026C262.905 199.101 262.774 198.175 262.468 197.301C257.094 183.178 247.459 171.07 234.896 162.651C222.333 154.233 207.461 149.919 192.336 150.306C177.2 149.904 162.312 154.211 149.735 162.631C137.157 171.05 127.512 183.166 122.133 197.301C121.828 198.175 121.697 199.101 121.75 200.026C121.803 200.951 122.037 201.856 122.44 202.69C122.843 203.524 123.406 204.271 124.098 204.888C124.79 205.504 125.597 205.979 126.473 206.284C127.348 206.59 128.275 206.72 129.201 206.667C130.127 206.615 131.034 206.381 131.869 205.978C132.705 205.576 133.452 205.013 134.07 204.322C134.687 203.631 135.163 202.826 135.468 201.951C139.921 190.641 147.772 180.986 157.942 174.312C168.113 167.638 180.103 164.273 192.266 164.679Z" fill="#FF9700"/>
                <path d="M141.11 133.87C142.432 135.182 144.22 135.919 146.084 135.919C147.948 135.919 149.737 135.182 151.059 133.87L160.16 124.781L169.333 133.87C170.682 135.024 172.418 135.627 174.194 135.559C175.97 135.49 177.654 134.755 178.911 133.5C180.167 132.246 180.904 130.563 180.972 128.79C181.041 127.017 180.437 125.283 179.281 123.935L170.179 114.846L179.563 105.687C180.882 104.332 181.609 102.509 181.582 100.62C181.556 98.7302 180.779 96.9286 179.422 95.6112C178.065 94.2938 176.24 93.5685 174.348 93.5949C172.456 93.6214 170.652 94.3973 169.333 95.7521L160.231 104.841L151.129 95.7521C150.476 95.0952 149.7 94.5731 148.844 94.2158C147.989 93.8585 147.072 93.6729 146.145 93.6697C145.218 93.6664 144.299 93.8455 143.441 94.1968C142.583 94.548 141.803 95.0646 141.146 95.7169C139.817 97.0343 139.067 98.8248 139.06 100.694C139.057 101.62 139.236 102.538 139.588 103.394C139.94 104.251 140.457 105.03 141.11 105.687L150.212 114.776L141.11 123.935C139.796 125.255 139.059 127.041 139.059 128.903C139.059 130.764 139.796 132.55 141.11 133.87Z" fill="#FF9700"/>
                <path d="M204.61 133.87C205.932 135.182 207.72 135.919 209.584 135.919C211.448 135.919 213.237 135.182 214.559 133.87L223.66 124.781L232.833 133.87C234.182 135.024 235.918 135.627 237.694 135.559C239.47 135.49 241.154 134.755 242.411 133.5C243.667 132.246 244.404 130.563 244.472 128.79C244.541 127.017 243.937 125.283 242.781 123.935L233.679 114.846L243.063 105.687C243.716 105.016 244.231 104.223 244.577 103.354C244.924 102.484 245.095 101.555 245.082 100.62C245.069 99.6841 244.872 98.7603 244.501 97.9009C244.13 97.0415 243.594 96.2635 242.922 95.6112C242.25 94.9589 241.456 94.4451 240.586 94.0991C239.715 93.7532 238.785 93.5818 237.848 93.5949C236.911 93.608 235.986 93.8053 235.125 94.1754C234.265 94.5455 233.486 95.0813 232.833 95.7521L223.731 104.841L214.629 95.7521C213.31 94.4253 211.517 93.6763 209.645 93.6697C207.772 93.6631 205.974 94.3995 204.646 95.7169C203.317 97.0343 202.567 98.8248 202.56 100.694C202.554 102.564 203.291 104.36 204.61 105.687L213.712 114.776L204.61 123.935C203.296 125.255 202.559 127.041 202.559 128.903C202.559 130.764 203.296 132.55 204.61 133.87Z" fill="#FF9700"/>
            </svg>

        </div>

    </section>




</Page>
