---

import Page from "../../components/Page.astro";
import Button from "../../components/ui/Button.astro";
import H2 from "../../components/ui/h2.astro";
import Paragraph from "../../components/ui/Paragraph.astro";
import PostsOddEven from "../../components/sections/PostsOddEven.astro";
import Added from "../../components/ui/added.astro";
import Add from "../../components/ui/add.astro";
import Buttonunderline from "../../components/ui/Buttonunderline.astro";
import Similarproduct from "../../components/ui/similarproduct.astro";
import Catitem from "../../components/ui/catitem.astro";
import Filterbycategory from "../../components/ui/filterbycategory.astro";
import Filterbyprice from "../../components/ui/filterbyprice.astro";


let quantity = 1;

function handleQuantityChange(event) {
    quantity = parseInt(event.target.value, 10);
}




---


<Page>

    <section class="bg-[#036949] text-[#fff]">
        <div class="mx-auto ">
            <div class=" flex flex-wrap  w-full">
                <div class="order-1 md:order-0 flex  items-center  lg:justify-center w-full min-h-[50%] md:w-6/12 lg:h-[60vh]  p-12 bg-red">
                    <div class="lg:absolute lg:pl-10 xl:pl-0 left-0 text-left right-0 mx-auto max-w-[1400px] w-full lg:pr-72">
                        <h1 class=" w-full leading-tight lg:w-3/6  mb-6 text-[33px]   lg:text-[42px] font-bold ">
                            Odkryj nową erę w hodowli bydła mlecznego z HEPAWIT!
                        </h1>
                        <p class="  lg:w-2/6 mb-6     font-normal  leading-[17.60px]">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo et enim at cursus. Vestibulum nec hendrerit lacus.
                        </p>
                        <button class="bg-[#FF9700] px-12 text-[#000] font-bold ease-in duration-300 py-3 rounded-full hover:bg-[#FF9700]/90 ">Kup teraz</button>
                    </div>
                </div>
                <div class="order-0 relative md:order-1 w-full h-auto md:w-6/12 bg-center relative bg-no-repeat bg-cover h-fit  lg:h-[60vh]" style="background-image: url('public/img/333.jpg')">
                    <div class="order-0 md:order-1 lg:absolute flex items-center justify-center bg-cover lg:left:1/2 lg:transform lg:-translate-x-1/2   lg:translate-y-1/2  h-[60vh]  w-50 md:w-1/2 xl:w-2/5 bg-center bg-no-repeat bg-cover  lg:h-1/2" style="background-image: url('')">
                        <img class="h-[60vh] md:h-auto " src="public/img/hepavit.png" >
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section  class=" mx-auto  w-full px-12 lg:px-0 py-12">
        <div class="mx-auto max-w-[1400px]  w-full ">
            <p class="text-[#000]/40">rolnikplus.com / sklep / premiksy / <b class="text-[#000]">Tucznik 2% </b></p>
        </div>

    </section>

    <section  class=" mx-auto  w-full text-white px-12 lg:px-0 ">
        <div class="mx-auto max-w-[1400px]  w-full ">

            <div class=" flex flex-wrap  w-full ">
                <div class="order-0 md:order-0  w-full min-h-[50%] md:w-3/12  lg:py-12 lg:pr-12">
                    <button class="md:hidden font-bold text-[#000] text-center w-full border-2 border-[#000] py-2 rounded-full flex justify-center items-center">
                        Filtry
                        <svg class="ml-3" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="0.388916" y1="2.55542" x2="14.6111" y2="2.55542" stroke="black" stroke-width="2"/>
                            <line x1="0.388916" y1="7.88916" x2="14.6111" y2="7.88916" stroke="black" stroke-width="2"/>
                            <line x1="4.72168" y1="10.6665" x2="4.72168" y2="5.33317" stroke="black" stroke-width="2"/>
                            <line x1="10.0562" y1="5.3335" x2="10.0562" y2="0.000163122" stroke="black" stroke-width="2"/>
                            <line x1="10.0562" y1="16" x2="10.0562" y2="10.6667" stroke="black" stroke-width="2"/>
                            <line x1="0.388916" y1="13.2219" x2="14.6111" y2="13.2219" stroke="black" stroke-width="2"/>
                        </svg>

                    </button>
                    <Filterbycategory />
                    <Filterbyprice />
                </div>
                <div class="order-0 relative md:order-1 justify-between flex flex-wrap justify-center w-full md:w-9/12 bg-center relative bg-no-repeat bg-cover items-center">
                    <div id="sorting-options" class="py-6 flex flex-wrap items-center w-full justify-between">
                        <div class="order-3 md:order-1 mt-6 lg:mt-0 w-full lg:w-[40%]">
                            <H2 type="big">Żywienie zwierząt </H2>
                        </div>
                        <div class="order-1 md:order-2 w-full md:w-6/12 lg:w-[30%] flex justify-end  items-center">
                            <button type="button" class="ease-in duration-300 inline-flex w-full lg:w-[90%] justify-center items-center px-4 py-2 border border-[#A3A3A3] shadow-sm text-sm font-medium rounded-full md:rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="options-menu" aria-expanded="true" aria-haspopup="true">
                                Ilość produktów na stronie: <b class="ml-2">50</b>
                                <svg class="ml-3 " width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.5 1L7.5 8L14.5 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>
                        <div class="order-2 md:order-3 w-full md:w-5/12 lg:w-[30%] flex justify-end items-center mt-6 md:mt-0">
                            <button type="button" class="ease-in duration-300 inline-flex w-full  lg:w-[90%]  justify-center items-center px-4 py-2 border border-[#A3A3A3]  shadow-sm text-sm font-medium rounded-full md:rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="options-menu" aria-expanded="true" aria-haspopup="true">
                                Sortuj od najnowszych
                                <svg class="ml-3 " width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.5 1L7.5 8L14.5 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-list-wrapper flex ease-in duration-300 flex-wrap">
                        <Catitem />
                        <Catitem />
                        <Catitem />
                        <Catitem />
                        <Catitem />
                        <Catitem />
                        <div class="w-full h-fit lg:w-[50%] p-4">
                            <div class="h-3/6 relative">
                                <img class="lg:absolute object-cover bg-center  overflow-hidden" src="public/img/slide1.jpg" >
                            </div>
                            <div class="h-3/6 relative bg-[#FFEACC] text-[#000] p-6 flex items-center flex-wrap">
                                <p class="text-xl font-bold">Lorem ipsum </p>
                                <p class="text-md py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ligula nunce.  </p>
                                <Button type="black-bold-outline">Więcej</Button>
                            </div>
                        </div>
                        <Catitem />
                        <Catitem />
                        <Catitem />
                        <Catitem />
                    </div>
                    <div class="flex justify-center py-12 w-full">
                        <Button type="black-bold-outline">Zobacz więcej produktów</Button>

                    </div>
                    <div class="seo flex justify-between">
                        <div class="w-[48%] text-[#000]">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ligula nunc, porttitor ut sem vitae, venenatis efficitur turpis. Nullam vulputate egestas urna. Cras a tellus ante. Phasellus id volutpat dolor. Nam tincidunt non odio id feugiat.
                        </div>
                        <div class="w-[48%] text-[#000]">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ligula nunc, porttitor ut sem vitae, venenatis efficitur turpis. Nullam vulputate egestas urna. Cras a tellus ante. Phasellus id volutpat dolor. Nam tincidunt non odio id feugiat.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="w-full flex p-4 py-12">
            <div class="w-3/6 h-[40vh] relative">
                <img class="absolute object-cover bg-center overflow-hidden inset-0 w-full h-full" src="public/img/slide1.jpg">
            </div>
            <div class="w-3/6 relative bg-[#FFEACC] text-[#000] p-6 flex flex-col justify-center">
                <p class="text-xl font-bold mb-4">Lorem ipsum</p>
                <p class="text-md mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ligula nunce.</p>
                <Button type="black-bold-outline">Więcej</Button>
            </div>
        </div>
    </section>

</Page>
