---

---

<div class="added w-[20%]  px-6 border-r border-r-1 border-[#D2D2D2]">
    <div class="product-wrapper relative px-6w-full  justify-center  bg-[#F3f3f3]   ">
        <button id="close-compare" class="absolute right-3 top-3 border border-[#000] p-2 rounded-full">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.08076 6.00098L0.944186 10.1376L1.86342 11.0568L6 6.92022L10.1366 11.0568L11.0558 10.1376L6.91924 6.00098L11.0558 1.86441L10.1366 0.945168L6 5.08174L1.86343 0.945168L0.944187 1.86441L5.08076 6.00098Z" fill="black"/>
            </svg>

        </button>
        <img class="max-h-[300px] relative mx-auto" src="public/img/hepavit.png">
    </div>
    <h5 class="py-6 font-bold">Hepawit - dodatek paszowy </h5>
    <div class="variations ">
        <button class="px-6 py-1 text-center text-[14px] text-black hover:text-white ease-in duration-300 bg-white hover:bg-black border border-2 border-[#999999] "> 1L </button>
        <button class="px-6 py-1 text-center text-[14px] text-black hover:text-white ease-in duration-300 bg-white hover:bg-black border border-2 border-[#999999] "> 5L </button>
        <button class="px-6 py-1 text-center text-[14px] text-black hover:text-white ease-in duration-300 bg-white hover:bg-black border border-2 border-[#999999] "> 10L </button>
    </div>
    <svg class="mt-4" width="114" height="21" viewBox="0 0 114 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.3636 0L12.6904 7.1611H20.22L14.1284 11.5869L16.4552 18.748L10.3636 14.3222L4.27204 18.748L6.59882 11.5869L0.507233 7.1611H8.03685L10.3636 0Z" fill="#FF9700"/>
        <path d="M33.6818 0L36.0085 7.1611H43.5382L37.4466 11.5869L39.7733 18.748L33.6818 14.3222L27.5902 18.748L29.9169 11.5869L23.8253 7.1611H31.355L33.6818 0Z" fill="#FF9700"/>
        <path d="M57.0001 0L59.3269 7.1611H66.8565L60.7649 11.5869L63.0917 18.748L57.0001 14.3222L50.9085 18.748L53.2353 11.5869L47.1437 7.1611H54.6733L57.0001 0Z" fill="#FF9700"/>
        <path d="M80.3182 0L82.645 7.1611H90.1746L84.083 11.5869L86.4098 18.748L80.3182 14.3222L74.2266 18.748L76.5534 11.5869L70.4618 7.1611H77.9914L80.3182 0Z" fill="#FF9700"/>
        <path d="M103.636 0L105.963 7.1611H113.493L107.401 11.5869L109.728 18.748L103.636 14.3222L97.5447 18.748L99.8715 11.5869L93.7799 7.1611H101.31L103.636 0Z" fill="#FF9700"/>
    </svg>
    <div class="product-price  flex items-end py-4">
        <p class="text-[#000] text-xl font-bold mr-5">345,00 zł</p>
    </div>
    <button class="py-2 w-full px-6 flex rounded-full items-center bg-[#f2f2f2]">
        <svg class="mr-3" width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.32812 5.15625L5.39613 11.3175L14.8592 1.53061" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Oglądany produkt
    </button>
    <div class="py-6">
        <div class="items-specification">
            <div class="odd flex p-3">
                <div class="flex w-full justify-center items-center">
                    <p class="">Lorem Ipsum</p>
                </div>
            </div>
            <div class="even flex p-3 bg-[#f3f3f3]">
                <div class="flex w-full  justify-center items-center">
                    <p class="">Lorem Ipsum</p>
                </div>
            </div>
            <div class="odd flex p-3">
                <div class="flex w-full  justify-center items-center">
                    <p class="">Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>
</div>
