---

interface Props {
    type: 'primary' | 'white';
}

const { type } = Astro.props

function btnClasses(type) {
    switch (type) {
        case 'white':
            return 'w-full md:max-w-fit bg-white hover:bg-black font-bold text-black hover:text-white';
        case 'white-outline':
            return 'w-full md:max-w-fit border-2 border-[#fff] hover:bg-white font-bold text-white hover:text-[#000] hover:text-white';
        case 'orange':
            return 'w-full md:max-w-fit  border mt-8 border-orange hover:bg-orange hover:text-black text-sm font-bold ';
        case 'orange-cart':
            return 'w-full md:max-w-fit flex items-center justify-between border border-2 border-orange hover:bg-orange hover:text-black text-sm font-bold ';
        case 'compare':
            return 'w-full md:max-w-fit flex items-center justify-between border border-2 border-[#000] hover:bg-[#000] hover:text-[#fff] text-sm font-bold ';
        case 'orange-f-w':
            return 'w-full md:max-w-fit border group  mt-8 border-orange hover:bg-orange hover:text-black text-sm font-bold ';
        case 'fullorange-f-w':
            return 'w-full md:max-w-fit border w-full mt-8 border-orange bg-orange hover:bg-white hover:text-black text-sm font-bold ';
        case 'black':
            return 'w-full md:max-w-fit bg-transparent text-black border mt-8 border-black hover:bg-black hover:text-white';
        case 'black-bold':
            return 'w-full md:max-w-fit bg-transparent text-black font-bold border border-2 mt-8 border-black hover:bg-black hover:text-white';
        case 'black-bold-advisor':
            return 'w-full md:max-w-full bg-transparent text-black font-bold border border-2 mt-3 border-black hover:bg-black hover:text-white';
        case 'fullorange-bold':
            return 'w-full md:max-w-full bg-[#FF9700] text-black font-bold border border-2 mt-3 border-[#FF9700] hover:bg-[#FF9700] hover:text-white';
        case 'black-bold_underline':
            return 'w-full md:max-w-fit bg-transparent text-black font-bold   underline underline-offset-4 underline-2';
        case 'fullorange-f-w-100':
            return 'w-full  border w-full mt-8 border-orange bg-orange hover:bg-white hover:text-vlack text-black text-sm font-normal ';
        case 'fullblackoutline-f-w-100':
            return 'w-full  border w-full mt-2 border-black bg-transparent hover:bg-orange hover:text-vlack text-black text-sm font-normal flex items-center';
        case 'black-consent':
            return 'w-full md:max-w-fit bg-white mt-3  font-[12px] h-11 px-6 py-1 text-black border  border-white hover:border-black hover:bg-black hover:text-white ';
        case 'green-consent':
            return 'w-full md:max-w-fit bg-black text-white border mt-3 font-[12px] h-11 px-6 py-1 border-black hover:bg-transparent hover:text-black h';

    }
}

const classes = [' transition-all font-[Gilroy] h-11  ease-in-out duration-300 px-12 py-2 rounded-full', btnClasses(type)];
---

<button class:list={classes}>
    <slot />
</button>