---

---
<!--DESKTOP + TABLET -->

<tr class="hidden border-b-2 border-[#D1D1D1] flex flex-wrap md:table-row">
    <td class="px-4 py-2"><img src="public/img/hepavit.png" alt="Produkt 1" class="w-[40vw] md:w-20 h-auto"></td>
    <td class="px-4 py-2"> 7688</td>
    <td class="px-4 py-2"> Lorem Ipsum Dolor</td>
    <td class="px-4 py-2"> 123,00 PLN</td>
    <td class="px-4 py-2"> 2</td>
    <td class="px-4 py-2"> 20%</td>
    <td class="px-4 py-2"> 246,00 zł</td>
</tr>

<!--MOBILE -->

