<div class="w-full max-w-xs relative py-6">
    <a class="text-xl w-full flex flex-wrap text-[#000] py-2 font-bold hover:text-black ease-in duration-300" href="">Zakres cen:</a>
    <!-- Suwak z dwiema kropkami -->
    <input type="range" id="priceRange" name="priceRange" min="0" max="100" class="slider-thumb-color h-1 w-full bg-gray-300 opacity-50 appearance-none rounded-full relative">

    <!-- Kropka lewa (cena minimalna) -->
    <div class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-green-500 h-2 w-2 rounded-full"></div>
    <!-- Kropka prawa (cena maksymalna) -->
    <div class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-green-500 h-2 w-2 rounded-full"></div>
    <!-- Etykiety -->
    <div class="flex justify-between mt-2">
        <span class="text-sm text-gray-600">0 PLN</span>
        <span class="text-sm text-gray-600">100 PLN</span>
    </div>
</div>
