<div class="space-y-2 cat border-b border-[#A3A3A3] py-6">
    <div class="flex justify-between">
        <a class="text-xl w-full flex flex-wrap text-[#000] py-2 font-bold hover:text-black ease-in duration-300" href="">Kategorie</a>
        <button class="font-xl text-[#000]"> <svg width="15" height="1" viewBox="0 0 15 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="15" y2="0.5" stroke="black"/>
        </svg>
        </button>
    </div>
    <label class="flex items-center">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-600 checked:bg-green-600" checked>
        <span class="ml-2 text-[12px] lg:text-[16px] text-gray-900">Nasiona</span>
    </label>
    <label class="flex items-center">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-600">
        <span class="ml-2 text-[12px] lg:text-[16px] text-gray-900">Środki ochrony roślin</span>
    </label>
    <label class="flex items-center">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-600">
        <span class="ml-2 text-[12px] lg:text-[16px] text-gray-900">Nawozy mineralne i organiczne</span>
    </label>
    <label class="flex items-center">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-600">
        <span class="ml-2 text-[12px] lg:text-[16px] text-gray-900">Nawozy dolistne</span>
    </label>
    <label class="flex items-center">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-600">
        <span class="ml-2 text-[12px] lg:text-[16px] text-gray-900">Biostymulanty</span>
    </label>
    <label class="flex items-center">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-600">
        <span class="ml-2 text-[12px] lg:text-[16px] text-gray-900">Pakowanie plonów</span>
    </label>
    <label class="flex items-center">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-600">
        <span class="ml-2 text-[12px] lg:text-[16px] text-gray-900">Genetyka Bydła</span>
    </label>
    <label class="flex items-center">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-600">
        <span class="ml-2 text-[12px] lg:text-[16px] text-gray-900">Dezynfekcja i deratyzacja</span>
    </label>
</div>
<div class="space-y-2 cat border-b border-[#A3A3A3] py-6">
    <div class="flex justify-between items-center">
        <a class="text-xl w-full flex flex-wrap text-[#000] py-2 font-bold hover:text-black ease-in duration-300" href="">Grupa upraw</a>
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="7.5" x2="15" y2="7.5" stroke="black"/>
            <line x1="7.5" y1="-2.18557e-08" x2="7.5" y2="15" stroke="black"/>
        </svg>

        </button>
    </div>
</div>