---


const fotermenu = [
    {
        id: 0,
        title: 'O firmie',


    },
    {
        id: 1,
        title: 'Nasze produkty',


    },
    {
        id: 2,
        title: 'Sklep',


    },
    {
        id: 3,
        title: 'Oferta',


    },
    {
        id: 4,
        title: 'Poradniki i wskazówki',

    },
    {
        id: 5,
        title: 'Kontakt',

    },
    {
        id: 6,
        title: 'Blog',

    },

];
const iconmenu = [
    {
        id: 0,
        image: 'public/img/i1.svg',


    },
    {
        id: 1,
        image: 'public/img/i2.svg',


    },
    {
        id: 2,
        image: 'public/img/i3.svg',


    },


];


import Paragraph from "./Paragraph.astro";---
<footer class="w-full bg-black ">
    <div class="w-full mx-auto max-w-[1400px] pb-12 px-6 lg:px-0 ">
        <svg width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="150" height="150" fill="#ED1C24"/>
            <g clip-path="url(#clip0_316_42)">
                <path d="M53.0565 116.888H55.831V129.539H53.0565V127.646C51.9612 129.14 50.2567 130.036 48.246 130.036C44.4551 130.036 41.7563 127.173 41.7563 123.212C41.7563 119.25 44.4551 116.388 48.246 116.388C50.2567 116.388 51.9644 117.283 53.0565 118.778V116.885V116.888ZM53.0312 123.215C53.0312 120.649 51.251 118.809 48.7795 118.809C46.308 118.809 44.5025 120.652 44.5025 123.215C44.5025 125.778 46.3111 127.624 48.7795 127.624C51.2478 127.624 53.0312 125.781 53.0312 123.215Z" fill="white"/>
                <path d="M57.9774 129.539V116.888H60.6509V118.333C61.4653 117.114 62.8131 116.391 64.3661 116.391C66.3768 116.391 68.056 117.336 68.8199 118.781C69.71 117.336 71.3387 116.416 73.1979 116.416C76.2281 116.416 78.365 118.682 78.365 121.893V129.539H75.6157V122.119C75.6157 120.201 74.3689 118.834 72.6139 118.809C70.8053 118.809 69.508 120.201 69.508 122.119V129.539H66.7334V122.119C66.7334 120.127 65.5876 118.809 63.8042 118.809C62.0208 118.809 60.7488 120.127 60.7488 122.119V129.539H57.9742H57.9774Z" fill="white"/>
                <path d="M80.262 113.177C80.262 112.232 80.9754 111.559 81.9949 111.559C83.0145 111.559 83.6994 112.232 83.6994 113.177C83.6994 114.121 82.9861 114.844 81.9949 114.844C81.0038 114.844 80.262 114.146 80.262 113.177ZM83.368 116.888V129.538H80.6187V116.888H83.368Z" fill="white"/>
                <path d="M86.9601 119.006H84.9747V116.888H87.1148L87.4714 113.825H89.7378V116.888H92.8942V119.006H89.7378V125.806C89.7378 126.951 90.4511 127.748 91.6222 127.748C91.9789 127.748 92.5912 127.674 93.0742 127.522V129.69C92.4145 129.915 91.4959 130.039 90.7826 130.039C88.4657 130.039 86.9632 128.396 86.9632 125.982V119.01L86.9601 119.006Z" fill="white"/>
                <path d="M100.915 116.391C104.936 116.391 107.786 119.179 107.786 123.088C107.786 123.388 107.761 123.762 107.736 124.061L96.8398 124.036C97.1712 126.278 98.7747 127.773 100.886 127.773C102.619 127.773 104.223 126.778 104.706 125.383L107.3 125.756C106.562 128.248 103.888 130.039 100.937 130.039C96.8903 130.039 93.9863 127.124 93.9863 123.067C93.9863 119.01 96.8871 116.394 100.912 116.394L100.915 116.391ZM104.911 122.045C104.605 120.053 102.976 118.658 100.839 118.658C98.7021 118.658 97.2249 120.028 96.8682 122.045H104.911Z" fill="white"/>
                <path d="M121.975 121.199L119.327 121.523C118.919 119.88 117.341 118.71 115.558 118.71C113.266 118.71 111.461 120.603 111.461 123.218C111.486 125.833 113.241 127.726 115.558 127.726C117.392 127.726 118.894 126.556 119.352 124.938L122 125.262C121.467 128.026 118.743 130.042 115.558 130.042C111.587 130.042 108.711 127.18 108.711 123.218C108.711 119.256 111.587 116.394 115.532 116.394C118.815 116.394 121.514 118.41 121.972 121.202L121.975 121.199Z" fill="white"/>
                <path d="M22 121.98C22.0442 121.044 22.1389 120.109 22.2841 119.182C23.2468 113.066 26.4285 107.452 31.2421 103.379C36.1062 99.2664 42.3308 97 48.77 97C54.7294 97 60.37 98.8743 65.0826 102.419C65.676 102.864 66.2505 103.333 66.8029 103.827L62.2639 108.267C60.329 106.6 58.0658 105.287 55.6542 104.441C53.4542 103.666 51.1373 103.274 48.77 103.274C41.0082 103.274 34.023 107.492 30.5414 114.282C29.2977 116.706 28.5875 119.29 28.4203 121.983H22V121.98Z" fill="white"/>
            </g>
            <defs>
                <clipPath id="clip0_316_42">
                    <rect width="100" height="33.0357" fill="white" transform="translate(22 97)"/>
                </clipPath>
            </defs>
        </svg>

        <div class="flex flex-wrap">
            <div id="SocialMenuWrapper" class="flex my-6 lg:my-12  justify-between  w-full lg:w-2/3 flex-wrap">
                    <h3 class="font-medium leading-normal text-white">Menu</h3>
                {fotermenu.map((slide, index) => (
                        <button class=" font-light leading-normal text-white">{slide.title}</button>

                ))}
            </div>
            <div id="SocialIconWrapper" class="flex my-6 lg:my-12 lg:justify-end  w-full lg:w-1/3 flex-wrap">
                {iconmenu.map((slide, index) => (
                        <button key={index} className="font-light leading-normal text-white">
                            <img class="mr-3 lg:ml-3 w-6" src={slide.image} alt={`Icon ${index}`} />
                        </button>
                ))}
            </div>
            <div id="SocialCOmpanyDetails" class="flex my-6 lg:my-24  justify-between  w-full lg:w-2/3 flex-wrap">
                <div class="w-full lg:w-1/3 flex-col justify-start items-start gap-5 inline-flex">
                    <div class="self-stretch  text-white text-xs font-medium font-['Objectivity']">Amitec Sp. z o. o </div>
                    <div class="self-stretch h-fit flex-col justify-start items-start gap-2 flex">
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']"> </div>
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']">NIP 777-020-88-67</div>
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']">REGON 510519084</div>
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']">KRS 0000000000</div>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 flex-col mt-6 lg:mt-0  justify-start items-start gap-5 inline-flex">
                    <div class="self-stretch  text-white text-xs font-medium font-['Objectivity']">Kontakt</div>
                    <div class="self-stretch h-fit flex-col justify-start items-start gap-2 flex">
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']">+48 531 581 109</div>
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']">biuro@amitec.com.pl</div>
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']">ul. Stefana Żeromskiego 1A</div>
                        <div class="text-[#999999] text-xs font-light font-['Objectivity']">98-405 Galewice | Poland</div>
                    </div>
                </div>
                <div class="w-full lg:w-1/3  mt-6 lg:mt-0 flex-col justify-start items-start gap-5 inline-flex">
                    <div class="self-stretch  text-white text-xs font-medium font-['Objectivity']">Godziny pracy</div>
                    <div class="flex-col justify-between items-center flex">
                        <div class="self-stretch  flex-col justify-start items-start gap-2 flex">
                            <div class="w-44 justify-between items-start inline-flex">
                                <div class="text-[#999999] text-xs font-light font-['Objectivity']">Poniedziałek</div>
                                <div class="text-right text-[#999999] text-xs font-light font-['Objectivity']">8:00 - 16:00</div>
                            </div>
                        </div>
                        <div class="w-44 justify-between items-start inline-flex">
                            <div class="text-[#999999] text-xs font-light font-['Objectivity']">Wtorek</div>
                            <div class="text-right text-[#999999] text-xs font-light font-['Objectivity']">8:00 - 16:00</div>
                        </div>
                        <div class="w-44 justify-between items-start inline-flex">
                            <div class="text-[#999999] text-xs font-light font-['Objectivity']">Środa</div>
                            <div class="text-right text-[#999999] text-xs font-light font-['Objectivity']">8:00 - 16:00</div>
                        </div>
                        <div class="w-44 justify-between items-start inline-flex">
                            <div class="text-[#999999] text-xs font-light font-['Objectivity']">Czwartek</div>
                            <div class="text-right text-[#999999] text-xs font-light font-['Objectivity']">8:00 - 16:00</div>
                        </div>
                        <div class="w-44 justify-between items-start inline-flex">
                            <div class="text-[#999999] text-xs font-light font-['Objectivity']">Piątek</div>
                            <div class="text-right text-[#999999] text-xs font-light font-['Objectivity']">8:00 - 16:00</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="SocialContactWrapper" class="flex my-6 lg:my-12 justify-end items-end  w-full lg:w-1/3 flex-wrap">
                <buttton class="h-fit p-2.5 bg-[#2e2e2e] rounded justify-center items-center gap-2.5 inline-flex text-white text-sm font-medium font-['Objectivity'] leading-3">
                  Skontaktuj się
                </buttton>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="w-56 h-fit relative">
                <div class="w-52 left-[18px] top-[1px] absolute text-white text-xs font-light font-['Objectivity'] leading-10">AmitecCopyright 2024</div>
                <div class="w-3 left-0 top-0 absolute text-white text-base font-light font-['Gilroy'] leading-10">©</div>
            </div>
        </div>
    </div>

    <div class="w-full h-4 bg-[#ed1c24]"></div>
</footer>