---


import Paragraph from "./Paragraph.astro";---
<footer class="w-full p-12 lg:p-28 bg-black">
    <div class="w-full mx-auto max-w-[1400px] pb-12 border-b ">
        <svg width="134" height="32" viewBox="0 0 134 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group 32">
                <path id="Vector" d="M133.72 14.2949V19.6885H127.558V25.8511H122.167V19.6885H116.004V14.2949H122.167V8.13477H127.558V14.2949H133.72Z" fill="white"/>
                <path id="Vector_2" d="M31.4268 19.321C31.4268 13.9248 35.7001 9.76172 41.0219 9.76172C46.3438 9.76172 50.6171 13.9274 50.6171 19.321C50.6171 24.7146 46.3438 28.8803 41.0219 28.8803C35.7001 28.8803 31.4268 24.7146 31.4268 19.321ZM45.1876 19.321C45.1876 16.7498 43.3778 15.0477 41.0219 15.0477C38.6661 15.0477 36.8588 16.7498 36.8588 19.321C36.8588 21.8922 38.6687 23.5944 41.0219 23.5944C43.3752 23.5944 45.1876 21.8922 45.1876 19.321Z" fill="#FF9700"/>
                <path id="Vector_3" d="M59.1274 1.93945H53.6953V28.3743H59.1274V1.93945Z" fill="#FF9700"/>
                <path id="Vector_4" d="M80.4896 17.2554V28.3734H75.0575V18.0527C75.0575 15.8071 73.645 14.7586 71.9069 14.7586C69.9151 14.7586 68.5385 15.9173 68.5385 18.4885V28.3734H63.1064V10.2673H68.5385V11.9695C69.5152 10.6288 71.3276 9.75977 73.7168 9.75977C77.3749 9.75977 80.4896 12.3668 80.4896 17.2554Z" fill="#FF9700"/>
                <path id="Vector_5" d="M83.6758 5.41446C83.6758 3.64052 85.16 2.15625 86.9366 2.15625C88.7131 2.15625 90.1948 3.64052 90.1948 5.41446C90.1948 7.18841 88.7105 8.67267 86.9366 8.67267C85.1626 8.67267 83.6758 7.18841 83.6758 5.41446ZM84.2192 10.2672H89.6513V28.3732H84.2192V10.2672Z" fill="#FF9700"/>
                <path id="Vector_6" d="M104.857 28.3733L99.0639 20.37V28.3733H93.6318V3.02539H99.0639V18.1962L104.496 10.2673H110.833L104.242 19.3216L111.012 28.3733H104.857Z" fill="#FF9700"/>
                <path id="Vector_7" d="M15.9864 31.9999H11.0978V23.7018C10.9876 21.5228 10.1903 19.4567 8.8496 17.875C7.78575 16.6214 6.44247 15.7473 4.98384 15.3294C5.23506 17.1751 5.97848 18.9081 7.15256 20.2898L3.42267 23.4532C0.882237 20.4564 -0.335427 16.4138 0.0798606 12.3634L0.295195 10.2742L2.39214 10.1717C6.24765 9.97683 9.96729 11.638 12.5769 14.7116C14.6226 17.1239 15.8326 20.2565 15.9838 23.5301V23.93V31.9999H15.9864Z" fill="#FF9700"/>
                <g id="Group">
                    <path id="Vector_8" d="M24.6764 0H22.6769C16.2681 0 11.0898 5.18084 11.0898 11.587V28.2652H15.999V11.587C15.999 7.90584 18.9982 4.90654 22.6794 4.90654H25.407C25.3173 8.22371 24.9071 10.677 22.9973 13.0867C22.4513 13.7686 21.8155 14.4043 21.1336 14.9965L19.6801 16.1783L25.2686 28.3113H30.6776L25.6326 17.4036C26.0428 16.9935 26.4503 16.5397 26.8144 16.086C30.3135 11.6768 30.3135 6.95222 30.3135 2.45327V0H24.679H24.6764Z" fill="url(#paint0_radial_352_1295)"/>
                    <path id="Vector_9" d="M24.6764 0H22.6769C16.2681 0 11.0898 5.18084 11.0898 11.587V28.2652H15.999V11.587C15.999 7.90584 18.9982 4.90654 22.6794 4.90654H25.407C25.3173 8.22371 24.9071 10.677 22.9973 13.0867C22.4513 13.7686 21.8155 14.4043 21.1336 14.9965L19.6801 16.1783L25.2686 28.3113H30.6776L25.6326 17.4036C26.0428 16.9935 26.4503 16.5397 26.8144 16.086C30.3135 11.6768 30.3135 6.95222 30.3135 2.45327V0H24.679H24.6764Z" fill="url(#paint1_radial_352_1295)"/>
                </g>
            </g>
            <defs>
                <radialGradient id="paint0_radial_352_1295" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(2.60902 23.4135) rotate(-41.26) scale(46.7806)">
                    <stop offset="0.19" stop-color="#FF9700" stop-opacity="0"/>
                    <stop offset="0.66" stop-color="#FF9700"/>
                    <stop offset="0.92" stop-color="#FF9700"/>
                </radialGradient>
                <radialGradient id="paint1_radial_352_1295" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(33.5058 27.6808) rotate(-98.97) scale(26.1853 18.1133)">
                    <stop stop-color="#FF9700"/>
                    <stop offset="0.44" stop-color="#FF9700"/>
                    <stop offset="0.83" stop-color="#FF9700"/>
                    <stop offset="1" stop-color="#FF9700" stop-opacity="0"/>
                </radialGradient>
            </defs>
        </svg>

    </div>
    <div class="w-full flex flex-wrap lg:flex-nowrap pt-12 items-start justify-between mx-auto max-w-[1400px] ">
        <div class="flex-none mr-40 items-baseline flex flex-wrap">
            <a class="w-full text-white text-sm mb-4 font-bold font-['Gilroy'] uppercase"> Menu</a>
            <a class="w-full text-white text-sm mb-4 font-bold font-['Gilroy'] uppercase"> Onas</a>
            <a class="w-full text-white text-sm mb-4 font-bold font-['Gilroy'] uppercase"> Blog</a>
            <a class="w-full text-white text-sm mb-4 font-bold font-['Gilroy'] uppercase"> Kontakt</a>
        </div>

        <div class="flex-1 mr-40 items-start flex flex-wrap">
              <a class="w-full text-white text-sm mb-4 font-bold font-['Gilroy'] uppercase"> Polityka prywatności</a>
              <a class="w-full text-white text-sm mb-4 font-bold font-['Gilroy'] uppercase"> Polityka prywatności</a>

        </div>

        <div class="flex-1 mr-40 items-start flex flex-wrap">
            <div class="w-[68px] h-7 justify-start items-start gap-3 inline-flex">
                <div class="justify-start items-start gap-3 flex">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector" d="M14 0C6.26818 0 0 6.26818 0 14C0 21.0191 5.17045 26.8145 11.9076 27.8269V17.7106H8.44391V14.0305H11.9076V11.5818C11.9076 7.52755 13.8829 5.74764 17.2525 5.74764C18.8663 5.74764 19.7196 5.86727 20.1237 5.922V9.13436H17.8252C16.3946 9.13436 15.8951 10.4905 15.8951 12.019V14.0305H20.0875L19.5185 17.7106H15.8951V27.8568C22.7284 26.9296 28 21.0872 28 14C28 6.26818 21.7318 0 14 0Z" fill="white"/>
                    </svg>

                </div>
                <div class="justify-start items-start gap-1 flex">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector" d="M14 0C6.26818 0 0 6.26818 0 14C0 21.0191 5.17045 26.8145 11.9076 27.8269V17.7106H8.44391V14.0305H11.9076V11.5818C11.9076 7.52755 13.8829 5.74764 17.2525 5.74764C18.8663 5.74764 19.7196 5.86727 20.1237 5.922V9.13436H17.8252C16.3946 9.13436 15.8951 10.4905 15.8951 12.019V14.0305H20.0875L19.5185 17.7106H15.8951V27.8568C22.7284 26.9296 28 21.0872 28 14C28 6.26818 21.7318 0 14 0Z" fill="white"/>
                    </svg>

                </div>
            </div>
        </div>
        <div class="flex-1 mt-10 p-12 border border-white rounded-2xl">
            <p class="text-white text-white text-2xl font-bold font-['Gilroy'] leading-normal "> Lorem ipsum dolor sitamet, consectetur adipiscing elit.</p>
            <div class="w-[336px] h-11 justify-start items-start gap-4 inline-flex">
                <div class="w-[234px] h-11 relative">
                    <div class="w-[234px] h-11 left-0 top-0 absolute bg-white rounded-[3px]"></div>
                    <div class="absolute top-1/2  left-[10px] -translate-y-1/2 text-black text-sm font-normal font-['Gilroy'] leading-3">Twój mail </div>
                </div>
                <div class="w-[86px] h-11 p-3 bg-amber-500 rounded-[58px] justify-center items-center gap-2.5 flex">
                    <div class="text-black text-sm font-bold font-['Gilroy'] uppercase leading-3">wyślij</div>
                </div>
            </div>
        </div>
    </div>
</footer>