---


import Paragraph from "./Paragraph.astro";

---

<nav class="w-full max-w-[1400px] h-14 pl-12 lg:p-0  flex items-center  justify-between mx-auto relative">
<a href="/">    <svg width="113" height="28" viewBox="0 0 113 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="Group 31">
        <path id="Vector" d="M112.86 12.5604V17.1126H107.659V22.3139H103.108V17.1126H97.9072V12.5604H103.108V7.36133H107.659V12.5604H112.86Z" fill="#FF9700"/>
        <path id="Vector_2" d="M26.5234 16.8038C26.5234 12.2495 30.1301 8.73584 34.6217 8.73584C39.1133 8.73584 42.72 12.2517 42.72 16.8038C42.72 21.356 39.1133 24.8719 34.6217 24.8719C30.1301 24.8719 26.5234 21.356 26.5234 16.8038ZM38.1376 16.8038C38.1376 14.6338 36.6101 13.1972 34.6217 13.1972C32.6334 13.1972 31.1081 14.6338 31.1081 16.8038C31.1081 18.9739 32.6356 20.4105 34.6217 20.4105C36.6079 20.4105 38.1376 18.9739 38.1376 16.8038Z" fill="black"/>
        <path id="Vector_3" d="M49.903 2.13281H45.3184V24.4437H49.903V2.13281Z" fill="black"/>
        <path id="Vector_4" d="M67.932 15.0592V24.4427H63.3474V15.7321C63.3474 13.8368 62.1552 12.9519 60.6883 12.9519C59.0072 12.9519 57.8454 13.9298 57.8454 16.0999V24.4427H53.2607V9.1613H57.8454V10.5979C58.6697 9.46637 60.1994 8.73291 62.2158 8.73291C65.3033 8.73291 67.932 10.9333 67.932 15.0592Z" fill="black"/>
        <path id="Vector_5" d="M70.6221 5.06583C70.6221 3.56863 71.8748 2.31592 73.3741 2.31592C74.8735 2.31592 76.1241 3.56863 76.1241 5.06583C76.1241 6.56303 74.8713 7.81575 73.3741 7.81575C71.8769 7.81575 70.6221 6.56303 70.6221 5.06583ZM71.0807 9.1615H75.6654V24.4429H71.0807V9.1615Z" fill="black"/>
        <path id="Vector_6" d="M88.4997 24.4428L83.61 17.6881V24.4428H79.0254V3.04932H83.61V15.8534L88.1947 9.16144H93.543L87.9805 16.8032L93.6945 24.4428H88.4997Z" fill="black"/>
        <path id="Vector_7" d="M13.4924 27.5038H9.36649V20.5003C9.27345 18.6612 8.60058 16.9174 7.46902 15.5824C6.57114 14.5245 5.43742 13.7867 4.20634 13.434C4.41837 14.9918 5.04581 16.4544 6.03673 17.6205L2.88872 20.2904C0.744604 17.7612 -0.283099 14.3492 0.067402 10.9307L0.249143 9.16742L2.01896 9.08087C5.27299 8.91644 8.41235 10.3184 10.6149 12.9126C12.3414 14.9485 13.3626 17.5924 13.4903 20.3553V20.6928V27.5038H13.4924Z" fill="black"/>
        <g id="Group">
            <path id="Vector_8" d="M20.8273 0.496094H19.1398C13.7308 0.496094 9.36035 4.8687 9.36035 10.2755V24.3518H13.5036V10.2755C13.5036 7.16859 16.035 4.63719 19.1419 4.63719H21.444C21.3682 7.43687 21.0221 9.50742 19.4102 11.5412C18.9494 12.1167 18.4128 12.6533 17.8373 13.1531L16.6105 14.1505L21.3271 24.3907H25.8923L21.6344 15.1847C21.9805 14.8385 22.3245 14.4555 22.6318 14.0726C25.5851 10.3512 25.5851 6.36373 25.5851 2.56664V0.496094H20.8295H20.8273Z" fill="url(#paint0_radial_352_1047)"/>
            <path id="Vector_9" d="M20.8273 0.496094H19.1398C13.7308 0.496094 9.36035 4.8687 9.36035 10.2755V24.3518H13.5036V10.2755C13.5036 7.16859 16.035 4.63719 19.1419 4.63719H21.444C21.3682 7.43687 21.0221 9.50742 19.4102 11.5412C18.9494 12.1167 18.4128 12.6533 17.8373 13.1531L16.6105 14.1505L21.3271 24.3907H25.8923L21.6344 15.1847C21.9805 14.8385 22.3245 14.4555 22.6318 14.0726C25.5851 10.3512 25.5851 6.36373 25.5851 2.56664V0.496094H20.8295H20.8273Z" fill="url(#paint1_radial_352_1047)"/>
        </g>
    </g>
    <defs>
        <radialGradient id="paint0_radial_352_1047" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.11598 20.0363) rotate(-41.26) scale(39.4826)">
            <stop offset="0.19" stop-opacity="0"/>
            <stop offset="0.66"/>
            <stop offset="0.92"/>
        </radialGradient>
        <radialGradient id="paint1_radial_352_1047" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(28.5101 23.6128) rotate(-98.97) scale(22.1003 15.2875)">
            <stop/>
            <stop offset="0.44"/>
            <stop offset="0.83"/>
            <stop offset="1" stop-opacity="0"/>
        </radialGradient>
    </defs>
</svg></a>
    <div class="w-[105px] h-14 p-5 bg-orange justify-center items-center inline-flex  cursor-pointer" id="hamburgerMenu">
        <div class="w-11 h-4 relative">
            <div class="w-11 h-[1px] left-0 top-0 absolute border border-black"></div>
            <div class="w-11 h-[1px] left-0 top-[8px] absolute border border-black"></div>
            <div class="w-11 h-[1px] left-0 top-[16px] absolute border  border-black"></div>
        </div>
    </div>


</nav>
<div class=" navactive absolute w-full lg:h-[calc(100%-56px)] z-[50]  top-14 left-0 bg-white hidden">
    <div class="w-full  h-full  flex-wrap lg:flex-nowrap flex max-w-[1400px] mx-auto ">
        <div class=" w-full xl:w-3/5 flex pt-[40px] flex-wrap">
            <div class=" p-12 pb-0 lg:p-0">
                <a href="/onas " class=" mr-10 pb-8">
                    <div class="lg:max-w-[291px] relative border-b-2 border-orange lg:border-0 lg:min-h-36 py-5 lg:p-5 bg-white lg:hover:bg-amber-500 flex-col justify-start items-start gap-4 inline-flex">
                        <div class="text-black  text-[28px] lg:text-[40px] font-bold font-['Gilroy'] leading-10">O nas</div>
                        <div class="max-w-[70%] lg:max-w[251px] text-neutral-900 text-base font-normal font-['Gilroy'] leading-none">Zobacz, jakie wartości nam przyświecają + jak wyglądał rozwój firmy krok po kroku.</div>
                        <svg  class="lg:hidden absolute bottom-[20px] right-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M21.5061 23.6371L21.5061 2M21.5061 2L1 2M21.5061 2L1.50585 22.0004" stroke="#FF9700" stroke-width="4"/>
                        </svg>
                    </div>

                </a>
                <a href="/blog" class="mr-10 pb-8">
                    <div class="lg:max-w-[291px] relative border-b-2 border-orange lg:border-0 lg:min-h-36 py-5 lg:p-5 bg-white lg:hover:bg-amber-500 flex-col justify-start items-start gap-4 inline-flex">
                        <div class="text-black text-[28px] lg:text-[40px] font-bold font-['Gilroy'] leading-10">Blog</div>
                        <div class="max-w-[70%] lg:max-w[251px] text-neutral-900 text-base font-normal font-['Gilroy'] leading-none">Zobacz, jakie wartości nam przyświecają + jak wyglądał rozwój firmy krok po kroku.</div>
                        <svg  class="lg:hidden absolute bottom-[20px] right-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M21.5061 23.6371L21.5061 2M21.5061 2L1 2M21.5061 2L1.50585 22.0004" stroke="#FF9700" stroke-width="4"/>
                        </svg>
                    </div>

                </a>
                <a href="/doradztwo" class="mr-10 pb-8">
                    <div class="lg:max-w-[291px] relative border-b-2 border-orange lg:border-0 lg:min-h-36 py-5 lg:p-5 bg-white lg:hover:bg-amber-500 flex-col justify-start items-start gap-4 inline-flex">
                        <div class="text-black text-[28px] lg:text-[40px] font-bold font-['Gilroy'] leading-10">Doradztwo</div>
                        <div class="max-w-[70%] lg:max-w[251px] text-neutral-900 text-base font-normal font-['Gilroy'] leading-none">Zobacz, jakie wartości nam przyświecają + jak wyglądał rozwój firmy krok po kroku.</div>
                        <svg  class="lg:hidden absolute bottom-[20px] right-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M21.5061 23.6371L21.5061 2M21.5061 2L1 2M21.5061 2L1.50585 22.0004" stroke="#FF9700" stroke-width="4"/>
                        </svg>
                    </div>


                </a>
                <a href="/kontakt" class="mr-10 pb-8">
                    <div class="lg:max-w-[291px] relative border-b-2 border-orange lg:border-0 lg:min-h-36 py-5 lg:p-5 bg-white lg:hover:bg-amber-500 flex-col justify-start items-start gap-4 inline-flex">
                        <div class="text-black text-[28px] lg:text-[40px] font-bold font-['Gilroy'] leading-10">Kontakt</div>
                        <div class="max-w-[70%] lg:max-w[251px] text-neutral-900 text-base font-normal font-['Gilroy'] leading-none">Zobacz, jakie wartości nam przyświecają + jak wyglądał rozwój firmy krok po kroku.</div>
                        <svg  class="lg:hidden absolute bottom-[20px] right-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M21.5061 23.6371L21.5061 2M21.5061 2L1 2M21.5061 2L1.50585 22.0004" stroke="#FF9700" stroke-width="4"/>
                        </svg>
                    </div>


                </a>
                <a href="/faq" class="mr-10 pb-8">
                    <div class="lg:max-w-[291px] relative border-b-2 border-orange lg:border-0 lg:min-h-36 py-5 lg:p-5 bg-white lg:hover:bg-amber-500 flex-col justify-start items-start gap-4 inline-flex">
                        <div class="text-black text-[28px] lg:text-[40px] font-bold font-['Gilroy'] leading-10">FAQ</div>
                        <div class="max-w-[70%] lg:max-w[251px] text-neutral-900 text-base font-normal font-['Gilroy'] leading-none">Zobacz, jakie wartości nam przyświecają + jak wyglądał rozwój firmy krok po kroku.</div>
                        <svg  class="lg:hidden absolute bottom-[20px] right-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M21.5061 23.6371L21.5061 2M21.5061 2L1 2M21.5061 2L1.50585 22.0004" stroke="#FF9700" stroke-width="4"/>
                        </svg>
                    </div>


                </a>
                <a href="/laboratorium" class="mr-10 pb-8">
                    <div class="lg:max-w-[291px] relative border-b-2 border-orange lg:border-0 lg:min-h-36 py-5 lg:p-5 bg-white lg:hover:bg-amber-500 flex-col justify-start items-start gap-4 inline-flex">
                        <div class="text-black text-[28px] lg:text-[40px] font-bold font-['Gilroy'] leading-10">Laboratorium</div>
                        <div class="max-w-[70%] lg:max-w[251px] text-neutral-900 text-base font-normal font-['Gilroy'] leading-none">Zobacz, jakie wartości nam przyświecają + jak wyglądał rozwój firmy krok po kroku.</div>
                        <svg  class="lg:hidden absolute bottom-[20px] right-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M21.5061 23.6371L21.5061 2M21.5061 2L1 2M21.5061 2L1.50585 22.0004" stroke="#FF9700" stroke-width="4"/>
                        </svg>
                    </div>


                </a>
            </div>
            <div class="w-full social pt-0 p-6 ">
                <div class=" p-5 text-black text-sm font-bold font-['Gilroy'] uppercase">Media</div>
                <div class="flex ">
                    <img class="p-3 " src="public/img/fb.svg">
                    <img class="p-3 " src="public/img/fb.svg">
                </div>

            </div>
        </div>
        <div class="h-full lg:w-3/5 flex flex-wrap items-start bg-zinc-100">
            <div class="w-full  bg-center bg-[url('src/assets/IMG/baner2.jpeg')] h-[30vh] bg-no-repeat lg:h-3/5 bg-cover" >
                {/* Dodatkowa zawartość slajdu */}
            </div>
            <div class="w-full p-[50px]  ">
                <p class="w-full  text-neutral-900 text-[30px] font-normal font-['Gilroy']">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vehicula malesuada luctus.</p>
                <button class=" text-black text-sm font-bold font-['Gilroy'] underline underline-orange decoration-solid"> Czytaj więcej </button>
            </div>

        </div>
    </div>
</div>

