---


import Paragraph from "./Paragraph.astro";

---

<nav class="w-full max-w-[1400px] h-14 pl-12 lg:p-0  flex items-center  justify-between mx-auto relative">
<a href="/">    <svg width="113" height="28" viewBox="0 0 113 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="Group 31">
        <path id="Vector" d="M112.86 12.5604V17.1126H107.659V22.3139H103.108V17.1126H97.9072V12.5604H103.108V7.36133H107.659V12.5604H112.86Z" fill="#FF9700"/>
        <path id="Vector_2" d="M26.5234 16.8038C26.5234 12.2495 30.1301 8.73584 34.6217 8.73584C39.1133 8.73584 42.72 12.2517 42.72 16.8038C42.72 21.356 39.1133 24.8719 34.6217 24.8719C30.1301 24.8719 26.5234 21.356 26.5234 16.8038ZM38.1376 16.8038C38.1376 14.6338 36.6101 13.1972 34.6217 13.1972C32.6334 13.1972 31.1081 14.6338 31.1081 16.8038C31.1081 18.9739 32.6356 20.4105 34.6217 20.4105C36.6079 20.4105 38.1376 18.9739 38.1376 16.8038Z" fill="black"/>
        <path id="Vector_3" d="M49.903 2.13281H45.3184V24.4437H49.903V2.13281Z" fill="black"/>
        <path id="Vector_4" d="M67.932 15.0592V24.4427H63.3474V15.7321C63.3474 13.8368 62.1552 12.9519 60.6883 12.9519C59.0072 12.9519 57.8454 13.9298 57.8454 16.0999V24.4427H53.2607V9.1613H57.8454V10.5979C58.6697 9.46637 60.1994 8.73291 62.2158 8.73291C65.3033 8.73291 67.932 10.9333 67.932 15.0592Z" fill="black"/>
        <path id="Vector_5" d="M70.6221 5.06583C70.6221 3.56863 71.8748 2.31592 73.3741 2.31592C74.8735 2.31592 76.1241 3.56863 76.1241 5.06583C76.1241 6.56303 74.8713 7.81575 73.3741 7.81575C71.8769 7.81575 70.6221 6.56303 70.6221 5.06583ZM71.0807 9.1615H75.6654V24.4429H71.0807V9.1615Z" fill="black"/>
        <path id="Vector_6" d="M88.4997 24.4428L83.61 17.6881V24.4428H79.0254V3.04932H83.61V15.8534L88.1947 9.16144H93.543L87.9805 16.8032L93.6945 24.4428H88.4997Z" fill="black"/>
        <path id="Vector_7" d="M13.4924 27.5038H9.36649V20.5003C9.27345 18.6612 8.60058 16.9174 7.46902 15.5824C6.57114 14.5245 5.43742 13.7867 4.20634 13.434C4.41837 14.9918 5.04581 16.4544 6.03673 17.6205L2.88872 20.2904C0.744604 17.7612 -0.283099 14.3492 0.067402 10.9307L0.249143 9.16742L2.01896 9.08087C5.27299 8.91644 8.41235 10.3184 10.6149 12.9126C12.3414 14.9485 13.3626 17.5924 13.4903 20.3553V20.6928V27.5038H13.4924Z" fill="black"/>
        <g id="Group">
            <path id="Vector_8" d="M20.8273 0.496094H19.1398C13.7308 0.496094 9.36035 4.8687 9.36035 10.2755V24.3518H13.5036V10.2755C13.5036 7.16859 16.035 4.63719 19.1419 4.63719H21.444C21.3682 7.43687 21.0221 9.50742 19.4102 11.5412C18.9494 12.1167 18.4128 12.6533 17.8373 13.1531L16.6105 14.1505L21.3271 24.3907H25.8923L21.6344 15.1847C21.9805 14.8385 22.3245 14.4555 22.6318 14.0726C25.5851 10.3512 25.5851 6.36373 25.5851 2.56664V0.496094H20.8295H20.8273Z" fill="url(#paint0_radial_352_1047)"/>
            <path id="Vector_9" d="M20.8273 0.496094H19.1398C13.7308 0.496094 9.36035 4.8687 9.36035 10.2755V24.3518H13.5036V10.2755C13.5036 7.16859 16.035 4.63719 19.1419 4.63719H21.444C21.3682 7.43687 21.0221 9.50742 19.4102 11.5412C18.9494 12.1167 18.4128 12.6533 17.8373 13.1531L16.6105 14.1505L21.3271 24.3907H25.8923L21.6344 15.1847C21.9805 14.8385 22.3245 14.4555 22.6318 14.0726C25.5851 10.3512 25.5851 6.36373 25.5851 2.56664V0.496094H20.8295H20.8273Z" fill="url(#paint1_radial_352_1047)"/>
        </g>
    </g>
    <defs>
        <radialGradient id="paint0_radial_352_1047" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.11598 20.0363) rotate(-41.26) scale(39.4826)">
            <stop offset="0.19" stop-opacity="0"/>
            <stop offset="0.66"/>
            <stop offset="0.92"/>
        </radialGradient>
        <radialGradient id="paint1_radial_352_1047" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(28.5101 23.6128) rotate(-98.97) scale(22.1003 15.2875)">
            <stop/>
            <stop offset="0.44"/>
            <stop offset="0.83"/>
            <stop offset="1" stop-opacity="0"/>
        </radialGradient>
    </defs>
</svg></a>
    <nav class="hidden md:flex flex justify-center items-center gap-x-6">
        <a class="select-none items-center justify-center transition-all ease-in-out duration-300 text-black decoration-solid underline-offset-6 decoration-black py-2 rounded-full block font-bold h-fit w-full sm:w-fit no-underline hover:text-accent px-0" href="/o-nas">O nas</a>
        <a class="select-none items-center justify-center transition-all ease-in-out duration-300 text-black decoration-solid underline-offset-6 decoration-black py-2 rounded-full block font-bold h-fit w-full sm:w-fit no-underline hover:text-accent px-0" href="/doradztwo">Doradztwo</a>
        <a class="select-none items-center justify-center transition-all ease-in-out duration-300 text-black decoration-solid underline-offset-6 decoration-black py-2 rounded-full block font-bold h-fit w-full sm:w-fit no-underline hover:text-accent px-0" href="/blog">Blog</a>
        <a class="select-none items-center justify-center transition-all ease-in-out duration-300 text-black decoration-solid underline-offset-6 decoration-black py-2 rounded-full block font-bold h-fit w-full sm:w-fit no-underline hover:text-accent px-0" href="/laboratorium">Laboratorium</a>
        <a class="select-none items-center justify-center transition-all ease-in-out duration-300 text-black decoration-solid underline-offset-6 decoration-black py-2 rounded-full block font-bold h-fit w-full sm:w-fit no-underline hover:text-accent px-0" href="/faq">Faq</a>
        <a class="select-none items-center justify-center transition-all ease-in-out duration-300 text-black decoration-solid underline-offset-6 decoration-black py-2 rounded-full block font-bold h-fit w-full sm:w-fit no-underline hover:text-accent px-0" href="/kontakt">Kontakt</a>

        <a href="" class="flex justify-center items-center" id="search-toggle">
            <svg id="search-open" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8.26953" cy="8.62402" r="6.92285" stroke="black" stroke-width="2"/>
                <line x1="12.2385" y1="14.3609" x2="16.9922" y2="20.6992" stroke="black" stroke-width="2"/>
            </svg>
            <svg id="search-close" width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <line x1="1.72468" y1="1.37883" x2="21.554" y2="21.2081" stroke="black" stroke-width="2"/>
                <line x1="1.65617" y1="21.2089" x2="21.4855" y2="1.37961" stroke="black" stroke-width="2"/>
            </svg>
        </a>

        <a href="" class="flex justify-center items-center"><svg class="mr-3" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="6" r="5" stroke="black" stroke-width="2"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9989 20C17.9993 19.9679 17.9995 19.9358 17.9995 19.9036C17.9995 15.5385 14.461 12 10.0959 12C5.73093 12 2.19238 15.5385 2.19238 19.9036C2.19238 19.9358 2.19258 19.9679 2.19296 20H0.192843C0.192536 19.9679 0.192383 19.9357 0.192383 19.9036C0.192383 14.434 4.62636 10 10.0959 10C15.5655 10 19.9995 14.434 19.9995 19.9036C19.9995 19.9357 19.9994 19.9679 19.9991 20H17.9989Z" fill="black"/>
        </svg> Zaloguj się
        </a>
        <a href="" class=" w-[58px] h-[58px] flex justify-center items-center bg-[#FF9700]"> <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.359 13.7222C20.1889 14.2147 19.8711 14.642 19.4494 14.9452C19.0278 15.2485 18.523 15.4127 18.0047 15.4154H8.0912C7.50938 15.411 6.94707 15.2039 6.50009 14.8292C6.05311 14.4546 5.74914 13.9356 5.63998 13.3607L3.95896 4.69125L3.40201 2.09056H1.54211C1.39834 2.09056 1.26045 2.03311 1.15878 1.93085C1.05712 1.82859 1 1.6899 1 1.54528C1 1.40066 1.05712 1.26197 1.15878 1.15971C1.26045 1.05745 1.39834 1 1.54211 1H3.8332C3.886 1.00642 3.93823 1.01693 3.98943 1.03143C4.02067 1.04095 4.05079 1.05386 4.07926 1.06993C4.10984 1.08615 4.13841 1.10593 4.1644 1.12886C4.1913 1.1506 4.21614 1.1748 4.23861 1.20114C4.25864 1.2275 4.27665 1.25534 4.29251 1.28443C4.31093 1.3165 4.32586 1.35049 4.33704 1.38578C4.34172 1.4015 4.35266 1.41485 4.35735 1.43057L4.91118 4.03283H21.2277C21.5122 4.03345 21.7923 4.10313 22.0443 4.23596C22.2963 4.36878 22.5127 4.56081 22.6751 4.79575C22.8393 5.03348 22.945 5.30702 22.9836 5.59387C23.0222 5.88072 22.9925 6.17268 22.897 6.44574L20.359 13.7222ZM21.8026 5.42353C21.739 5.32983 21.6536 5.25325 21.5538 5.2005C21.4539 5.14776 21.3428 5.12048 21.23 5.12104H5.13849L6.69374 13.1486C6.75624 13.477 6.92996 13.7734 7.18533 13.9875C7.4407 14.2015 7.76193 14.3199 8.09433 14.3225H18.0047C18.3012 14.3211 18.5901 14.2272 18.8313 14.0537C19.0726 13.8802 19.2543 13.6356 19.3514 13.3537L21.8901 6.07331C21.9287 5.96595 21.941 5.85076 21.9257 5.73761C21.9105 5.62445 21.8682 5.51669 21.8026 5.42353ZM7.70297 16.6002C8.13672 16.5946 8.56232 16.7189 8.92568 16.9572C9.28905 17.1955 9.57376 17.537 9.74362 17.9385C9.91348 18.34 9.96083 18.7832 9.87964 19.2118C9.79845 19.6404 9.59239 20.035 9.28765 20.3455C8.98292 20.656 8.59327 20.8684 8.16825 20.9556C7.74322 21.0428 7.30202 21.0009 6.90072 20.8353C6.49942 20.6696 6.15615 20.3877 5.91455 20.0253C5.67295 19.663 5.54394 19.2365 5.5439 18.8002C5.54057 18.2206 5.76608 17.6634 6.1709 17.2509C6.57572 16.8384 7.12675 16.6044 7.70297 16.6002ZM7.70297 19.9096C7.92161 19.9127 8.13622 19.8504 8.31952 19.7305C8.50281 19.6106 8.64651 19.4385 8.73234 19.2362C8.81816 19.034 8.84223 18.8106 8.80148 18.5945C8.76073 18.3784 8.65701 18.1794 8.50351 18.0228C8.35 17.8662 8.15366 17.759 7.93944 17.7149C7.72522 17.6709 7.50281 17.6919 7.3005 17.7753C7.09819 17.8587 6.92512 18.0008 6.8033 18.1835C6.68149 18.3661 6.61643 18.581 6.61641 18.801C6.61528 18.9456 6.64249 19.089 6.69651 19.223C6.75052 19.357 6.83026 19.4789 6.93118 19.5819C7.0321 19.6849 7.15221 19.7668 7.28464 19.823C7.41707 19.8793 7.55923 19.9087 7.70297 19.9096ZM17.2438 16.6002C17.6776 16.5946 18.1032 16.7189 18.4665 16.9572C18.8299 17.1955 19.1146 17.537 19.2845 17.9385C19.4543 18.34 19.5017 18.7832 19.4205 19.2118C19.3393 19.6404 19.1332 20.035 18.8285 20.3455C18.5238 20.656 18.1341 20.8684 17.7091 20.9556C17.2841 21.0428 16.8429 21.0009 16.4416 20.8353C16.0403 20.6696 15.697 20.3877 15.4554 20.0253C15.2138 19.663 15.0848 19.2365 15.0848 18.8002C15.0814 18.2206 15.3069 17.6634 15.7118 17.2509C16.1166 16.8384 16.6676 16.6044 17.2438 16.6002ZM17.2438 19.9096C17.4624 19.9123 17.6768 19.8495 17.8598 19.7293C18.0427 19.6091 18.1861 19.4369 18.2715 19.2346C18.357 19.0322 18.3807 18.8089 18.3397 18.593C18.2987 18.3771 18.1948 18.1783 18.0412 18.0219C17.8876 17.8655 17.6912 17.7586 17.4771 17.7147C17.2629 17.6709 17.0406 17.692 16.8385 17.7755C16.6363 17.859 16.4633 18.0011 16.3416 18.1837C16.2199 18.3663 16.1549 18.5811 16.1549 18.801C16.1538 18.9458 16.1811 19.0893 16.2352 19.2235C16.2894 19.3576 16.3694 19.4797 16.4705 19.5827C16.5717 19.6857 16.6921 19.7676 16.8248 19.8237C16.9575 19.8798 17.0999 19.909 17.2438 19.9096Z" fill="black" stroke="black"/>
        </svg>

        </a>
    </nav>
    <!-- mobile-->
    <nav class="  md:hidden flex justify-end items-center">


        <a href="" class="w-[58px] h-[58px] flex justify-center items-center" id="search-toggle">
            <svg id="search-open" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8.26953" cy="8.62402" r="6.92285" stroke="black" stroke-width="2"/>
                <line x1="12.2385" y1="14.3609" x2="16.9922" y2="20.6992" stroke="black" stroke-width="2"/>
            </svg>
            <svg id="search-close" width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <line x1="1.72468" y1="1.37883" x2="21.554" y2="21.2081" stroke="black" stroke-width="2"/>
                <line x1="1.65617" y1="21.2089" x2="21.4855" y2="1.37961" stroke="black" stroke-width="2"/>
            </svg>
        </a>

        <a href="" class="w-[58px] h-[58px] flex justify-center items-center"><svg class="mr-3" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="6" r="5" stroke="black" stroke-width="2"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9989 20C17.9993 19.9679 17.9995 19.9358 17.9995 19.9036C17.9995 15.5385 14.461 12 10.0959 12C5.73093 12 2.19238 15.5385 2.19238 19.9036C2.19238 19.9358 2.19258 19.9679 2.19296 20H0.192843C0.192536 19.9679 0.192383 19.9357 0.192383 19.9036C0.192383 14.434 4.62636 10 10.0959 10C15.5655 10 19.9995 14.434 19.9995 19.9036C19.9995 19.9357 19.9994 19.9679 19.9991 20H17.9989Z" fill="black"/>
        </svg>
        </a>
        <a href="" class=" w-[58px] h-[58px] flex justify-center items-center bg-[#FF9700]"> <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.359 13.7222C20.1889 14.2147 19.8711 14.642 19.4494 14.9452C19.0278 15.2485 18.523 15.4127 18.0047 15.4154H8.0912C7.50938 15.411 6.94707 15.2039 6.50009 14.8292C6.05311 14.4546 5.74914 13.9356 5.63998 13.3607L3.95896 4.69125L3.40201 2.09056H1.54211C1.39834 2.09056 1.26045 2.03311 1.15878 1.93085C1.05712 1.82859 1 1.6899 1 1.54528C1 1.40066 1.05712 1.26197 1.15878 1.15971C1.26045 1.05745 1.39834 1 1.54211 1H3.8332C3.886 1.00642 3.93823 1.01693 3.98943 1.03143C4.02067 1.04095 4.05079 1.05386 4.07926 1.06993C4.10984 1.08615 4.13841 1.10593 4.1644 1.12886C4.1913 1.1506 4.21614 1.1748 4.23861 1.20114C4.25864 1.2275 4.27665 1.25534 4.29251 1.28443C4.31093 1.3165 4.32586 1.35049 4.33704 1.38578C4.34172 1.4015 4.35266 1.41485 4.35735 1.43057L4.91118 4.03283H21.2277C21.5122 4.03345 21.7923 4.10313 22.0443 4.23596C22.2963 4.36878 22.5127 4.56081 22.6751 4.79575C22.8393 5.03348 22.945 5.30702 22.9836 5.59387C23.0222 5.88072 22.9925 6.17268 22.897 6.44574L20.359 13.7222ZM21.8026 5.42353C21.739 5.32983 21.6536 5.25325 21.5538 5.2005C21.4539 5.14776 21.3428 5.12048 21.23 5.12104H5.13849L6.69374 13.1486C6.75624 13.477 6.92996 13.7734 7.18533 13.9875C7.4407 14.2015 7.76193 14.3199 8.09433 14.3225H18.0047C18.3012 14.3211 18.5901 14.2272 18.8313 14.0537C19.0726 13.8802 19.2543 13.6356 19.3514 13.3537L21.8901 6.07331C21.9287 5.96595 21.941 5.85076 21.9257 5.73761C21.9105 5.62445 21.8682 5.51669 21.8026 5.42353ZM7.70297 16.6002C8.13672 16.5946 8.56232 16.7189 8.92568 16.9572C9.28905 17.1955 9.57376 17.537 9.74362 17.9385C9.91348 18.34 9.96083 18.7832 9.87964 19.2118C9.79845 19.6404 9.59239 20.035 9.28765 20.3455C8.98292 20.656 8.59327 20.8684 8.16825 20.9556C7.74322 21.0428 7.30202 21.0009 6.90072 20.8353C6.49942 20.6696 6.15615 20.3877 5.91455 20.0253C5.67295 19.663 5.54394 19.2365 5.5439 18.8002C5.54057 18.2206 5.76608 17.6634 6.1709 17.2509C6.57572 16.8384 7.12675 16.6044 7.70297 16.6002ZM7.70297 19.9096C7.92161 19.9127 8.13622 19.8504 8.31952 19.7305C8.50281 19.6106 8.64651 19.4385 8.73234 19.2362C8.81816 19.034 8.84223 18.8106 8.80148 18.5945C8.76073 18.3784 8.65701 18.1794 8.50351 18.0228C8.35 17.8662 8.15366 17.759 7.93944 17.7149C7.72522 17.6709 7.50281 17.6919 7.3005 17.7753C7.09819 17.8587 6.92512 18.0008 6.8033 18.1835C6.68149 18.3661 6.61643 18.581 6.61641 18.801C6.61528 18.9456 6.64249 19.089 6.69651 19.223C6.75052 19.357 6.83026 19.4789 6.93118 19.5819C7.0321 19.6849 7.15221 19.7668 7.28464 19.823C7.41707 19.8793 7.55923 19.9087 7.70297 19.9096ZM17.2438 16.6002C17.6776 16.5946 18.1032 16.7189 18.4665 16.9572C18.8299 17.1955 19.1146 17.537 19.2845 17.9385C19.4543 18.34 19.5017 18.7832 19.4205 19.2118C19.3393 19.6404 19.1332 20.035 18.8285 20.3455C18.5238 20.656 18.1341 20.8684 17.7091 20.9556C17.2841 21.0428 16.8429 21.0009 16.4416 20.8353C16.0403 20.6696 15.697 20.3877 15.4554 20.0253C15.2138 19.663 15.0848 19.2365 15.0848 18.8002C15.0814 18.2206 15.3069 17.6634 15.7118 17.2509C16.1166 16.8384 16.6676 16.6044 17.2438 16.6002ZM17.2438 19.9096C17.4624 19.9123 17.6768 19.8495 17.8598 19.7293C18.0427 19.6091 18.1861 19.4369 18.2715 19.2346C18.357 19.0322 18.3807 18.8089 18.3397 18.593C18.2987 18.3771 18.1948 18.1783 18.0412 18.0219C17.8876 17.8655 17.6912 17.7586 17.4771 17.7147C17.2629 17.6709 17.0406 17.692 16.8385 17.7755C16.6363 17.859 16.4633 18.0011 16.3416 18.1837C16.2199 18.3663 16.1549 18.5811 16.1549 18.801C16.1538 18.9458 16.1811 19.0893 16.2352 19.2235C16.2894 19.3576 16.3694 19.4797 16.4705 19.5827C16.5717 19.6857 16.6921 19.7676 16.8248 19.8237C16.9575 19.8798 17.0999 19.909 17.2438 19.9096Z" fill="black" stroke="black"/>
        </svg>

        </a>
        <a class="w-[58px] h-[58px] flex justify-center items-center bg-[#FF9700]" href="">
            <svg width="37" height="20" viewBox="0 0 37 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line y1="2" x2="37" y2="2" stroke="black" stroke-width="4"/>
                <line y1="10" x2="37" y2="10" stroke="black" stroke-width="4"/>
                <line y1="18" x2="37" y2="18" stroke="black" stroke-width="4"/>
            </svg>
        </a>
    </nav>
<!-- end mobile -->

</nav>

<div id="search_result" class=" absolute w-full z-50 bg-white h-[0] flex items-center overflow-hidden transition-all duration-300">
    <div class="mx-auto max-w-[1400px] px-12 w-full relative"> <!-- Added 'relative' class here -->
        <div class="flex items-center justify-between">
            <input id="search_trigger" type="search" class="focus:outline-none focus:ring-0 w-full text-2xl font-bold text-black placeholder-[#9f9f9f] border-b-2 py-2 border-[#9f9f9f] " placeholder="Szukam ...">
            <svg class="transform -translate-x-full" id="search-open" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8.26953" cy="8.62402" r="6.92285" stroke="black" stroke-width="2"/>
                <line x1="12.2385" y1="14.3609" x2="16.9922" y2="20.6992" stroke="black" stroke-width="2"/>
            </svg>
        </div>
        <p class=" py-12">Popularne wyszukiwania: <b>Hipowit Premiks Trzoda</b></p>
    </div>
</div>

</div>
<script>
    const searchOpen = document.getElementById('search-open');
    const searchClose = document.getElementById('search-close');
    const searchResult = document.getElementById('search_result');

    document.getElementById('search-toggle').addEventListener('click', function(event) {
        event.preventDefault();
        searchOpen.style.display = searchOpen.style.display === 'none' ? 'inline-block' : 'none';
        searchClose.style.display = searchClose.style.display === 'none' ? 'inline-block' : 'none';

        // Toggle class for animation
        if (searchResult.classList.contains('search-open')) {
            searchResult.style.height = '0';
            setTimeout(() => {
                searchResult.classList.remove('search-open');
            }, 300); // Wait for the transition to finish
        } else {
            searchResult.classList.add('search-open');
            searchResult.style.height = '30vh';
        }
    });
</script>
<script>
    document.addEventListener('scroll', function() {
        const nav = document.querySelector('nav');

        if (window.scrollY > 100) {
            nav.classList.add('nav-scrolled');
        } else {
            nav.classList.remove('nav-scrolled');
        }
    });
</script>
