---

---

<div class="added w-full text-[#FFF] px-6 ">
    <div class="product-wrapper relative px-6w-full  justify-center  bg-[#F3f3f3]   ">
        <img class="max-h-[300px] relative mx-auto" src="public/img/hepavit.png">
    </div>
    <h5 class="py-6 text-xl  text-[#000] font-bold">Hepawit - dodatek paszowy </h5>

    <div class="product-price text-[#000] flex items-end py-6">
        <p class="text-xl font-bold mr-5">345,00 zł</p>
    </div>

    <button class="py-3 text-[#000] bg-transparent w-full px-6 flex justify-center font-bold border-[#000] border-2 hover:bg-[#000] hover:text-[#FFF] ease-in duration-300 rounded-full items-center ">

        Dodaj do koszyka
    </button>

</div>
