---


---
<div class="w-full mt-12 flex flex-wrap  ">
    <div class="flex w-full">
        <div class="w-1/3">
            <h3 class="font-bold text-2xl w-full "> Zamówienie</h3>
            <p class="font-light mt-3">#76888</p>
        </div>
        <div class="w-1/3">
            <h3 class="font-bold text-2xl w-full "> Przewidywany czas dostawy</h3>
            <p class="font-light mt-3">20 maja 2024r.</p>
        </div>
        <div class="w-1/3">
            <h3 class="font-bold text-2xl w-full "> Nr listu przewozowego</h3>
            <p class="font-light mt-4 w-full">AW34234324576888</p><br>
            <button class="px-4  border border-2 border-[#000] font-bold py-2 rounded-full"> skopiuj </button>
        </div>
    </div>
    <table class="table-auto mt-6 w-full">
        <thead class="">
        <tr class="hidden md:table-row border-b-2 border-[#000]">
            <th class="px-4 py-2 "></th>
            <th class="px-4 py-2 text-left">Numer</th>
            <th class="px-4 py-2 text-left">Nazwa</th>
            <th class="px-4 py-2 text-left">Cena netto</th>
            <th class="px-4 py-2 text-left">Ilość</th>
            <th class="px-4 py-2 text-left">Rabat</th>
            <th class="px-4 py-2 text-left">Razem</th>
        </tr>
        </thead>
        <tbody>

        <Cartitemdashboard/>
        <Cartitemdashboard/>
        <Cartitemdashboard/>

        </tbody>
    </table>

    <div class="w-full py-12 ">
        <div class="h-[10px] relative w-full bg-[#DDDDDD] line">
            <div class="bg-[#FF9700] h-[10px] w-7/12 rounded-full orange_progress"></div>
            <div class="start left-0 absolute top-1/2 -translate-y-1/2 -translate-x-1/2 h-[30px] w-[30px] rounded-full bg-[#FF9700] flex justify-center z-10 items-center">
                <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.654646 3.3955C1.10224 3.09997 1.70466 3.22325 2.00019 3.67084L4.71739 7.78623L11.7484 0.514625C12.1212 0.129038 12.736 0.118695 13.1216 0.491524C13.5072 0.864352 13.5175 1.47917 13.1447 1.86476L5.27217 10.0067C5.06741 10.2185 4.7776 10.3259 4.48429 10.2986C4.19098 10.2714 3.92587 10.1126 3.76356 9.86674L0.379301 4.74104C0.083774 4.29345 0.20705 3.69103 0.654646 3.3955Z" fill="black"/>
                </svg>
            </div>
            <div class="center left-1/2 absolute  top-1/2 -translate-y-1/2 -translate-x-1/2 h-[30px] w-[30px] rounded-full bg-[#FF9700] flex justify-center z-10 items-center">
                <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.654646 3.3955C1.10224 3.09997 1.70466 3.22325 2.00019 3.67084L4.71739 7.78623L11.7484 0.514625C12.1212 0.129038 12.736 0.118695 13.1216 0.491524C13.5072 0.864352 13.5175 1.47917 13.1447 1.86476L5.27217 10.0067C5.06741 10.2185 4.7776 10.3259 4.48429 10.2986C4.19098 10.2714 3.92587 10.1126 3.76356 9.86674L0.379301 4.74104C0.083774 4.29345 0.20705 3.69103 0.654646 3.3955Z" fill="black"/>
                </svg>
            </div>
            <div class="end  absolute right-0 top-1/2 -translate-y-1/2 translate-x-1/2 h-[30px] w-[30px] rounded-full bg-[#DDDDDD] flex justify-center z-10 items-center">

            </div>
        </div>
    </div>
    <div class="w-full flex">
        <div class="w-1/3 flex justify-center flex-wrap">
            <p class="w-full text-center font-bold">Przygotowanie zamówienia</p>
            <p class="w-full text-center mt-3 text-[#898989] font-bold">Wtorek</p>
            <p class="w-full text-center text-[#898989] font-bold">15.06.2024</p>
        </div>
        <div class="w-1/3 flex justify-center flex-wrap">
            <p class="w-full text-center font-bold">Wysłanie produktu</p>
            <p class="w-full text-center mt-3 text-[#898989] font-bold">Wtorek</p>
            <p class="w-full text-center text-[#898989] font-bold">15.06.2024</p>
        </div>
        <div class="w-1/3 flex justify-center flex-wrap">
            <p class="w-full text-center font-bold">Przewidywany czas doręczenia:</p>
            <p class="w-full text-center mt-3 text-[#FF9700] font-bold">Wtorek</p>
            <p class="w-full text-center text-[#FF9700] font-bold">15.06.2024</p>
        </div>
    </div>
</div>

